﻿
@{
    ViewBag.Title = "DailySummary";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

      <!--main content start-->
<style>
        
        .ui-datepicker-calendar {
        display: none;
    }

.ui-datepicker-trigger {
        position: absolute;
        z-index: 1000;
        top: 8px;
        right:0;
    }
#monthpick {
    margin-left: 6%;
    width: 93%;
}
</style>
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Daily Summary</h3>
        <div class="container-fluid">
            <form role="form">
                <div class="row">
                    <!--</form>-->
                    <div class="col-sm-offset-4 col-sm-3 text-center">
                        <input type="text" name="monthpick" id="monthpick" class="form-control col-lg-2" value='@DateTime.Now.ToString("MMMM") @DateTime.Now.Year'>
                    </div>
                </div>
            </form>
        </div>
        <!-- page start-->

        <div class="tab-pane" id="chartjs" style="margin-top:-10px;">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel" id="linechart_all">
                        <div class="panel-body text-center">
                            <div id="dailychart" class="panel-body text-center" style="height:450px">

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt">
            </div>
        </div>

        <!-- page end-->
    </section>
</section><!-- /MAIN CONTENT -->
<footer class="site-footer">
    <div class="text-center">
        @DateTime.Now.Year &copy; Sunshare.
        <!--<a href="index.php#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>-->
    </div>
</footer>
<!--sidebar end-->
<!--main content start-->
<!-- /MAIN CONTENT -->
<!-- js placed at the end of the document so the pages load faster -->
<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="~/assets/js/common-scripts.js"></script>
<!--script for this page-->


<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="~/assets/js/tasks.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--<script src="https://code.highcharts.com/themes/dark-unica.js"></script>-->
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="daily">

</div>
<script>
    $(document).ready(function () {
        var mv='@DateTime.Now.ToString("MMMM")'
        $.ajax({
            url: '@Url.Action("DailyChannelSummary", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { Month:mv , Year: @DateTime.Now.Year },
            success: function (response) {
                $('#daily').html("");
                $('#daily').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
    });

    $('#monthpick').datepicker({
        changeMonth: true,
        changeYear: true,
        showOn: 'button',
        //buttonImage: 'img/cal.gif',
        buttonImage: 'http://apps.mysunshare.com/saleshubdashboard/includes/image/calendar.gif',
        buttonImageOnly: true,
        buttonText: 'Open calendar',
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
            var month_select = $("#monthpick").val();
            var valu=month_select.split(" ");

            $.ajax({
                url: '@Url.Action("DailyChannelSummary", "Reporting")',
                type: "POST",
                dataType: "text",
                data: { Month: valu[0], Year: valu[1] },
                success: function (response) {
                    $('#daily').html("");
                    $('#daily').append(response);

                    // $('#myModal').modal('show');
                },
                error: function (response) {
                }
            });
        }
    });
</script>