﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <title>SunShare | THE POWER TO CHOOSE</title>
    <link rel="shortcut icon" href="~/assets/img/shortcuticon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2.css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/css/style-conquer.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/css/pages/login.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="~/css/sweetalert.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
		var appname = window.navigator.appName;

		// This script sets OSName variable as follows:
		// "Windows"    for all versions of Windows
		// "MacOS"      for all versions of Macintosh OS
		// "Linux"      for all versions of Linux
		// "UNIX"       for all other UNIX flavors
		// "Unknown OS" indicates failure to detect the OS

		/*************** OS CODE*********************/

		var OSName="Unknown OS";
		if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
		if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
		if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
		if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";

		//document.write('Your OS: '+OSName);

		/*************** BROWSER CODE*********************/

		var nVer = navigator.appVersion;
		var nAgt = navigator.userAgent;
		var browserName  = navigator.appName;
		var fullVersion  = ''+parseFloat(navigator.appVersion);
		var majorVersion = parseInt(navigator.appVersion,10);
		var nameOffset,verOffset,ix;

		// In Opera, the true version is after "Opera" or after "Version"
		if ((verOffset=nAgt.indexOf("Opera"))!=-1) {
		 browserName = "Opera";
		 fullVersion = nAgt.substring(verOffset+6);
		 if ((verOffset=nAgt.indexOf("Version"))!=-1)
		   fullVersion = nAgt.substring(verOffset+8);
		}
		// In MSIE, the true version is after "MSIE" in userAgent
		else if ((verOffset=nAgt.indexOf("MSIE"))!=-1) {
		 browserName = "Microsoft Internet Explorer";
		 fullVersion = nAgt.substring(verOffset+5);
		}
		// In Chrome, the true version is after "Chrome"
		else if ((verOffset=nAgt.indexOf("Chrome"))!=-1) {
		 browserName = "Chrome";
		 fullVersion = nAgt.substring(verOffset+7);
		}
		// In Safari, the true version is after "Safari" or after "Version"
		else if ((verOffset=nAgt.indexOf("Safari"))!=-1) {
		 browserName = "Safari";
		 fullVersion = nAgt.substring(verOffset+7);
		 if ((verOffset=nAgt.indexOf("Version"))!=-1)
		   fullVersion = nAgt.substring(verOffset+8);
		}
		// In Firefox, the true version is after "Firefox"
		else if ((verOffset=nAgt.indexOf("Firefox"))!=-1) {
		 browserName = "Firefox";
		 fullVersion = nAgt.substring(verOffset+8);
		}
		// In most other browsers, "name/version" is at the end of userAgent
		else if ( (nameOffset=nAgt.lastIndexOf(' ')+1) <
				  (verOffset=nAgt.lastIndexOf('/')) )
		{
		 browserName = nAgt.substring(nameOffset,verOffset);
		 fullVersion = nAgt.substring(verOffset+1);
		 if (browserName.toLowerCase()==browserName.toUpperCase()) {
		  browserName = navigator.appName;
		 }
		}
		// trim the fullVersion string at semicolon/space if present
		if ((ix=fullVersion.indexOf(";"))!=-1)
		   fullVersion=fullVersion.substring(0,ix);
		if ((ix=fullVersion.indexOf(" "))!=-1)
		   fullVersion=fullVersion.substring(0,ix);

		majorVersion = parseInt(''+fullVersion,10);
		if (isNaN(majorVersion)) {
		 fullVersion  = ''+parseFloat(navigator.appVersion);
		 majorVersion = parseInt(navigator.appVersion,10);
		}

		if(browserName == 'Microsoft Internet Explorer' && parseInt(fullVersion) < 10){
		window.location.href = "browser.html";
		}
    </script>
    <script>
function email_validation(){
	var partid=document.getElementById("email").value;
	if((partid=="")||(partid==null))
	{
		document.getElementById("error").innerHTML="Please Enter Email";
		return false;
	}
	else
	{
		document.getElementById("error").innerHTML="";
	}
}
    </script>
</head>
<body class="login">
    <!-- BEGIN LOGO -->
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <div class="logo">

            <!--<img src="https://mysunshare.com/wp-content/uploads/2015/03/logo-sunshare-400x2001.png" alt="" width="200px" height="100px"/>-->
            <img src="~/includes/image/sunhublogo.png" alt="" width="200px" height="100px" />

        </div>
        <form class="login-form" action="" method="post">

            <h3>Forget Password ?</h3>
            <p>
                Enter your E-Mail address below to reset your password.
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email" id="email" />
                </div>
            </div>
            <div class="form-actions">
                <a type="button" id="back-btn" class="btn btn-warning" href='@Url.Action("Login")'>
                    <i class="m-icon-swapleft"></i> Back
                </a>
                <button type="submit" name="sendmail" id="sendmail" class="btn btn-warning orange pull-right" >
                    Submit
                </button>
            </div>
            <p><span id="error" style="color:red" name="error"></span></p>
            <p><span style="color:green" name="error_2" id="error_2"></span></p>
            <!-- END FORGOT PASSWORD FORM -->
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div class="copyright">
        @DateTime.Now.Year&copy; SunShare
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/assets/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/scripts/app.js" type="text/javascript"></script>
    <script src="~/assets/scripts/login.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/sweetalert-dev.js"></script>
    <script type="text/javascript" src="~/Scripts/sweetalert.min.js"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
jQuery(document).ready(function() {
   App.init();
  Login.init();
  var action = location.hash.substr(1);
          if (action == 'createaccount') {
              $('.register-form').show();
              $('.login-form').hide();
              $('.forget-form').hide();
          } else if (action == 'forgetpassword')  {
              $('.register-form').hide();
              $('.login-form').hide();
              $('.forget-form').show();
          }
});
    </script>
    <script type="text/javascript">
    function partner_validation(str,error){
        var partid=document.getElementById(str).value;
        if(partid==""){
            document.getElementById(error).innerHTML="Please Enter Partner ID";
        }
        else{
            document.getElementById(error).innerHTML="";
        }
    }


    $(document).on('click', '#sendmail', function (e) {
        e.preventDefault();
        email_validation();
        var username = document.getElementById("email").value;
        if (username == "") {
            return false;
        }
        else {
          
            jQuery.ajax({
                url: "@Url.Action("ForgetPassword", "Reporting")",
                type: "POST",
                dataType: "text",
                data: { EmailId: username },
                success: function (response) {
                    var val = JSON.parse(response);
                    if (val.result == "Success") {
                        swal({
                            title: "Mail Sent Successfully",
                            type: "success",
                            timer: 5000,
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                       // document.getElementById("error").innerHTML="Mail Sent Successfully";
                    }
                    else if (val.result == "Failure") {
                        swal({
                            title: "Failure Sending Request",
                            type: "error",
                            timer: 5000,
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                      //  document.getElementById("error").innerHTML="Failure: Sending Request";
                    }
                    else {
                        swal({
                            title: "Error Sending Request",
                            type: "error",
                            timer: 5000,
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                       // document.getElementById("error").innerHTML="Error: Sending Request";
                    }
                },
                error: function (response) {
                    swal({
                        title: "Error Sending Request",
                        type: "error",
                        timer: 5000,
                        showConfirmButton: false
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 1500);
                }
            });
            
            
        }
    });
       
    </script>
</body>
</html>
