﻿@model SunhubReporting.Models.ReportingModels
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<style>
    h3, .h3 {
        font-size: 24px;
        font-weight: 700;
        color: #3071A9;
    }
        .ui-datepicker-calendar {
        display: none;
    }

    td {
        color: black;
    }
    .ui-datepicker-trigger {
        position: absolute;
        z-index: 1000;
        margin: 8px 0 0 7px;
    }
</style>

 <!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Dashboard</h3>

        <!-- page start-->
        <div class="tab-pane" id="chartjs">
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <div class="panel-body text-center">
                            <!--<canvas id="polarArea" height="300" width="400"></canvas>-->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div id='chart1' style="height:350px"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <h4 align="center" style="color:black">Summary of Contracts    
                        <span style="font-size:15px;"> (January - 01 - @DateTime.Now.Year  To   @DateTime.Now.ToString("MMMM") - @DateTime.Now.Day - @DateTime.Now.Year)</span></h4>
                        <div class="panel-body text-center" style="height:340px">

                            <table style="height:95%;" class="table" border="2">
                                <thead style="font-size:15px;">
                                    <tr style="background-color:#D4D4D4;color:black;border: 2px solid #000;">
                                        <th>Channel</th>
                                        <th>Leads Saved</th>
                                        <th>Contracts Sent</th>
                                        <th>Contracts Signed</th>
                                        <th>Contracts Declined</th>
                                        <th>Conversion Percentage</th>
                                    </tr>
                                </thead>
                                <tbody align="left">
                                    <tr style="background-color:#FBFBFB;font-family:bold;font-size:15px;border: 2px solid #000;">
                                        <td align="center">THE RESULTS</td>
                                        <td align="center">@Model.channel1Summary.LeadSaved</td>
                                        <td align="center">@Model.channel1Summary.ContractUnsigned</td>
                                        <td align="center">@Model.channel1Summary.ContractSigned</td>
                                        <td align="center">@Model.channel1Summary.ContractDeclined</td>
                                        <td align="center">@Model.channel1Summary.Conversion  %</td>
                                    </tr>
                                    <tr style="background-color:#FBFBFB;font-family:bold;font-size:15px;border: 2px solid #000;">
                                        <td align="center">PCCW</td>
                                        <td align="center">@Model.channel2Summary.LeadSaved</td>
                                        <td align="center">@Model.channel2Summary.ContractUnsigned</td>
                                        <td align="center">@Model.channel2Summary.ContractSigned</td>
                                        <td align="center">@Model.channel2Summary.ContractDeclined</td>
                                        <td align="center">@Model.channel2Summary.Conversion  %</td>
                                    </tr>

                                    <tr style="background-color:#FBFBFB;font-family:bold;font-size:15px;border: 2px solid #000;">
                                        <td align="center">SUNSHARE SALES</td>
                                        <td align="center">@Model.channel3Summary.LeadSaved</td>
                                        <td align="center">@Model.channel3Summary.ContractUnsigned</td>
                                        <td align="center">@Model.channel3Summary.ContractSigned</td>
                                        <td align="center">@Model.channel3Summary.ContractDeclined</td>
                                        <td align="center">@Model.channel3Summary.Conversion  %</td>
                                    </tr>
                                    <tr style="background-color:#FBFBFB;font-family:bold;font-size:15px;border: 2px solid #000;">
                                        <td align="center">WEB</td>
                                        <td align="center">@Model.channel4Summary.LeadSaved</td>
                                        <td align="center">@Model.channel4Summary.ContractUnsigned</td>
                                        <td align="center">@Model.channel4Summary.ContractSigned</td>
                                        <td align="center">@Model.channel4Summary.ContractDeclined</td>
                                        <td align="center">@Model.channel4Summary.Conversion  %</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row mt">
                <div class="col-lg-6">
                    <div class="content-panel">
                        <div class="col-lg-4"></div>
                        <div align="right" class="col-lg-8">
                            <div class="col-lg-6" style="font-size:15px;"> <!-- <b>Select Program</b>--></div>
                            <div class="col-lg-6">
                                <!--<select name="program" class="form-control col-lg-2">
                            <option value="">All</option>
                            <option value="results">Results</option>
                            <option value="pccw">PCCW</option>
                        </select>-->
                                @Html.DropDownList("Channel", (IEnumerable<SelectListItem>)ViewBag.Channel, "All", new { @class = "form-control col-lg-2" })
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            <!--<canvas id="radar" height="70px" width="300"></canvas>-->
                            <div id="containernew"  style="height:400px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-panel">
                        <div class="col-lg-4"></div>
                        <div align="right" class="col-lg-8">
                            <div class="col-lg-6" style="font-size:15px;"> <!-- <b>Select Program</b>--></div>
                            <div class="col-lg-6">
                                <!--<input type="text" name="pick1" id="pick1" class="form-control col-lg-2">-->
                               @Html.DropDownList("ChannelNew", (IEnumerable<SelectListItem>)ViewBag.ChannelNew, "All", new { @class = "form-control col-lg-2" })
                            </div>
                        </div>
                        <div class="panel-body text-center">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div id='chart_pie' style="height:380px"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel" style="height:430px">
                        <div class="col-lg-4"></div>
                        <div align="right" class="col-lg-8">
                            <div class="col-lg-8" style="font-size:15px;"> <!-- <b>Select Program</b>--></div>
                            <div class="col-lg-4">
                                <input type="text" name="monthpick" id="monthpick" class="form-control col-lg-2" value='@DateTime.Now.ToString("MMMM") @DateTime.Now.Year'>
                            </div>
                        </div>
                        <!--<div class="panel-body text-center">
                    <canvas id="radar" height="70px" width="300"></canvas>-->
                        <div id="dailychart" class="panel-body text-center" style="height:400px;margin-bottom:70px;">
                        </div>
                        <!-- </div>-->
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>

        </div>
        <!-- page end-->
    </section>
</section><!-- /MAIN CONTENT -->
<footer class="site-footer">
    <div class="text-center">
        @DateTime.Now.Year &copy; Sunshare.
        <!--<a href="index.php#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>-->
    </div>
</footer>
<!--sidebar end-->
<!--main content start-->
<!-- /MAIN CONTENT -->
<!-- js placed at the end of the document so the pages load faster -->
<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="~/assets/js/common-scripts.js"></script>
<!--script for this page-->


<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="~/assets/js/tasks.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--<script src="https://code.highcharts.com/themes/dark-unica.js"></script>-->
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
@*<script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

</script>*@
      

<script type="text/javascript" >
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });

    $('#chart1').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Summary of Contracts Signed/Unsigned/Declined & Leads Saved'
        },
        subtitle: {
            text: 'January - 01 - @DateTime.Now.Year  To   @DateTime.Now.ToString("MMMM") - @DateTime.Now.Day - @DateTime.Now.Year'
        },
        xAxis: {
            categories: ['Contracts Declined', 'Contracts Signed', 'Contracts Unsigned', 'Leads Saved']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Counts'
            }
        },
        legend: {
            reversed: true
        },
        credits: {
            enabled: false
        },
        plotOptions: {
            series: {
                colorByPoint: true
            }
        },
        colors: [
		        '#483D8B',
				'#228B22',
				'#e6e600',
				'#DF435A'
        ],
        series: [{
            showInLegend: false,
            name: 'Total',
            data: [@Model.contract_summary.ContractDeclined, @Model.contract_summary.ContractSigned, @Model.contract_summary.ContractUnsigned, @Model.contract_summary.LeadSaved]
        }]
    });


</script>
<div id="monthly">

</div>
<div id="currentmonth">

</div>
<div id="daily">

</div>
<script>
    $(document).ready(function () {
        var chanel = $("#Channel").val();
        var chnl = $("#ChannelNew").val();
        $.ajax({
            url: '@Url.Action("MonthlyChannelSummary", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { ChannelId: chanel },
            success: function (response) {
                $('#monthly').html("");
                $('#monthly').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
        $.ajax({
            url: '@Url.Action("CurrentMonth", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { ChannelId: chnl },
            success: function (response) {
                $('#currentmonth').html("");
                $('#currentmonth').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
        var mv='@DateTime.Now.ToString("MMMM")'
        $.ajax({
            url: '@Url.Action("DailyChannelSummary", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { Month:mv , Year: @DateTime.Now.Year },
            success: function (response) {
                $('#daily').html("");
                $('#daily').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
    });
    $(document).on('change', '#Channel', function(){

        var chanel=$("#Channel").val();
        $.ajax({
            url: '@Url.Action("MonthlyChannelSummary", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { ChannelId: chanel },
            success: function (response) {
                $('#monthly').html("");
                $('#monthly').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
    });
    $(document).on('change', '#ChannelNew', function () {

        var chanel = $("#ChannelNew").val();
        $.ajax({
            url: '@Url.Action("CurrentMonth", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { ChannelId: chanel },
            success: function (response) {
                $('#currentmonth').html("");
                $('#currentmonth').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
    });
    $('#monthpick').datepicker({
       changeMonth: true,
       changeYear: true,
        showOn: 'button',
        //buttonImage: 'img/cal.gif',
        buttonImage: 'http://apps.mysunshare.com/saleshubdashboard/includes/image/calendar.gif',
        buttonImageOnly: true,
        buttonText: 'Open calendar',
        dateFormat: 'MM yy',
       onClose: function(dateText, inst) {
            var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
            var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
            $(this).datepicker('setDate', new Date(year, month, 1));
            var month_select = $("#monthpick").val();
            var valu=month_select.split(" ");

        $.ajax({
            url: '@Url.Action("DailyChannelSummary", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { Month: valu[0], Year: valu[1] },
            success: function (response) {
                $('#daily').html("");
                $('#daily').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
    }
    });
</script>
