﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta charset="utf-8" />
    <title>SunShare | THE POWER TO CHOOSE</title>
    <link rel="shortcut icon" href="assets/img/shortcuticon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2.css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/css/style-conquer.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/css/pages/login.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->

    <link rel="shortcut icon" href="~/assets/img/shortcuticon.ico" type="image/x-icon">
   
</head>
<body class="login" >
    <div class="content">
        <div class="logo">
            <img src="~/includes/image/sunhublogo.png" alt="" width="200px" height="100px" />
        </div>
        <div class="login-form"  name="form_status" id="form_status">
            <h3 class="form-title text-center"></h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Enter Valid Username and Password.
                </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">Username</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input type="email" autocomplete="off" class="form-control placeholder-no-fix" placeholder="Username" name="username" id="username" value="" onkeyup="email_validation();" />
                    <span id="user_name" style="color:red;"></span>
                    @*<?php echo $user_name; ?>*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input type="password" autocomplete="off" class="form-control placeholder-no-fix" placeholder="Password" id="password" name="password" value="" onkeyup="validation();" />
                    <span id="pass_err" style="color:red;"></span>
                    @*<?php echo $pass; ?>*@
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">ParnerId</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input type="text" autocomplete="off" class="form-control placeholder-no-fix" placeholder="Partner ID" id="partnerid" name="partnerid" value="" onkeyup="partner_validation();" />
                    <span id="partner_err" style="color:red;"></span>
                    @*<?php echo $partner_err; ?>*@
                </div>
            </div>
            <span id="user_name" style="color:red;"><?php echo $err; ?></span>

            <div class="form-actions">
                <label class="checkbox">
                    @*<?php if (isset($_COOKIE['username'])) { echo 'checked'; } ?>*@
                    <input type="checkbox" name="remember" value="1" style="color:#333E48"> Remember me
                </label>
                <button type="button" class="btn btn-in pull-right" style="color: #fff; background-color: #F26322; border-color: #F26322;" name="login" id="login" onclick="submit_data();">
                    Login
                </button>
            </div>
            @*<?php include 'changepassword.php'; ?>
    ||<a data-target="#myPdf" data-toggle="modal">Change Password</a>*@
            <div class="forget-password">
                <p>
                    <a class="pull-left" href="@Url.Action("ForgotPassword", "Reporting")"> Forgot your password </a>
                </p>

            </div>
            <!-- <div class="create-account">
                <p>
                     Don't have an account yet ?&nbsp; <a href="javascript:;" id="register-btn">Create an account</a>
                </p>
            </div> -->
        </div>
        <form class="forget-form" action="" method="post">
            <h3>Forget Password ?</h3>
            <p>
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default">
                    <i class="m-icon-swapleft"></i> Back
                </button>
                <button type="submit" class="btn btn-warning orange pull-right">
                    Submit
                </button>
            </div>
        </form>
        </div>
    <!-- END LOGIN -->
   

        <!-- BEGIN COPYRIGHT -->
        <div class="copyright">
            @DateTime.Now.Year &copy; SunShare
        </div>
        <!-- END COPYRIGHT -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <script src="~/assets/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script src="~/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="~/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="~/assets/plugins/select2/select2.min.js"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="~/assets/scripts/app.js" type="text/javascript"></script>
        <script src="~/assets/scripts/login.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        @*<script>
            jQuery(document).ready(function () {
                App.init();
                Login.init();
                var action = location.hash.substr(1);
                if (action == 'createaccount') {
                    $('.register-form').show();
                    $('.login-form').hide();
                    $('.forget-form').hide();
                } else if (action == 'forgetpassword') {
                    $('.register-form').hide();
                    $('.login-form').hide();
                    $('.forget-form').show();
                }
            });
        </script>*@
    <script type="text/javascript">
		var appname = window.navigator.appName;

		// This script sets OSName variable as follows:
		// "Windows"    for all versions of Windows
		// "MacOS"      for all versions of Macintosh OS
		// "Linux"      for all versions of Linux
		// "UNIX"       for all other UNIX flavors
		// "Unknown OS" indicates failure to detect the OS

		/*************** OS CODE*********************/

		var OSName="Unknown OS";
		if (navigator.appVersion.indexOf("Win")!=-1) OSName="Windows";
		if (navigator.appVersion.indexOf("Mac")!=-1) OSName="MacOS";
		if (navigator.appVersion.indexOf("X11")!=-1) OSName="UNIX";
		if (navigator.appVersion.indexOf("Linux")!=-1) OSName="Linux";

		//document.write('Your OS: '+OSName);

		/*************** BROWSER CODE*********************/

		var nVer = navigator.appVersion;
		var nAgt = navigator.userAgent;
		var browserName  = navigator.appName;
		var fullVersion  = ''+parseFloat(navigator.appVersion);
		var majorVersion = parseInt(navigator.appVersion,10);
		var nameOffset,verOffset,ix;

		// In Opera, the true version is after "Opera" or after "Version"
		if ((verOffset=nAgt.indexOf("Opera"))!=-1) {
		 browserName = "Opera";
		 fullVersion = nAgt.substring(verOffset+6);
		 if ((verOffset=nAgt.indexOf("Version"))!=-1)
		   fullVersion = nAgt.substring(verOffset+8);
		}
		// In MSIE, the true version is after "MSIE" in userAgent
		else if ((verOffset=nAgt.indexOf("MSIE"))!=-1) {
		 browserName = "Microsoft Internet Explorer";
		 fullVersion = nAgt.substring(verOffset+5);
		}
		// In Chrome, the true version is after "Chrome"
		else if ((verOffset=nAgt.indexOf("Chrome"))!=-1) {
		 browserName = "Chrome";
		 fullVersion = nAgt.substring(verOffset+7);
		}
		// In Safari, the true version is after "Safari" or after "Version"
		else if ((verOffset=nAgt.indexOf("Safari"))!=-1) {
		 browserName = "Safari";
		 fullVersion = nAgt.substring(verOffset+7);
		 if ((verOffset=nAgt.indexOf("Version"))!=-1)
		   fullVersion = nAgt.substring(verOffset+8);
		}
		// In Firefox, the true version is after "Firefox"
		else if ((verOffset=nAgt.indexOf("Firefox"))!=-1) {
		 browserName = "Firefox";
		 fullVersion = nAgt.substring(verOffset+8);
		}
		// In most other browsers, "name/version" is at the end of userAgent
		else if ( (nameOffset=nAgt.lastIndexOf(' ')+1) <
				  (verOffset=nAgt.lastIndexOf('/')) )
		{
		 browserName = nAgt.substring(nameOffset,verOffset);
		 fullVersion = nAgt.substring(verOffset+1);
		 if (browserName.toLowerCase()==browserName.toUpperCase()) {
		  browserName = navigator.appName;
		 }
		}
		// trim the fullVersion string at semicolon/space if present
		if ((ix=fullVersion.indexOf(";"))!=-1)
		   fullVersion=fullVersion.substring(0,ix);
		if ((ix=fullVersion.indexOf(" "))!=-1)
		   fullVersion=fullVersion.substring(0,ix);

		majorVersion = parseInt(''+fullVersion,10);
		if (isNaN(majorVersion)) {
		 fullVersion  = ''+parseFloat(navigator.appVersion);
		 majorVersion = parseInt(navigator.appVersion,10);
		}

		if(browserName == 'Microsoft Internet Explorer' && parseInt(fullVersion) < 10){
		window.location.href = "browser.html";
		}
		/* validation */
		function validation() {
		    $("#partner_err").text("");
		var partid=document.getElementById("password").value;
		if(partid=="" || partid.length < 6){
			document.getElementById("pass_err").innerHTML="Please Enter Valid Password";
			//e.preventDefault();
			return false;
		}
		else{
			document.getElementById("pass_err").innerHTML="";
			//return true;
		}
	}
		function email_validation() {
		    $("#partner_err").text("");
		var partid=document.getElementById("username").value;
		if(partid==""){
			document.getElementById("user_name").innerHTML="Please Enter Username";
			//e.preventDefault();
			return false;
		}
		else{
			document.getElementById("user_name").innerHTML="";
			//return true;
		}
	}
		function partner_validation() {
		    $("#partner_err").text("");
	var partid=document.getElementById("partnerid").value;
	if(partid==""){
		document.getElementById('partner_err').innerHTML="Please Enter Partner ID";
		//e.preventDefault();
		return false;
	}
	else{
		document.getElementById('partner_err').innerHTML="";
	}
}
		function submit_data(){

			email_validation();
			validation();
			partner_validation();
			var uname=document.getElementById("username").value;
			var pwd=document.getElementById("password").value;
			var pid=document.getElementById("partnerid").value;
			if(username=="" || password =="" || pid == ""){
				return false;
			}
			else{
                  jQuery.ajax({
                                url: '@Url.Action("LoginPost","Reporting")',
                                type: "POST",
                                dataType: "text",
                                data: { username: uname, password: pwd, partnerid:pid },

                                success: function (response) {
                                    var val = JSON.parse(response);
                                    if (val.result == "Redirect")
                                    {
                                        window.location = val.url;
                                    }
                                    else if (val.result == "Error") {
                                        $("#partner_err").text("Network Error");
                                    }
                                    else
                                    {
                                        $("#partner_err").text("Check Username, Password and Partner ID");
                                    }
                                    
                                }  ,
                                error: function (response) {
                                  
                                }
                            });
			}

		}
function checkpassword(){
	var newp=document.getElementById("newpassword").value;
	var cemail=document.getElementById("change_email").value;
	var cmpr=document.getElementById("conformpassword").value;
	var pwd=document.getElementById("oldpassword").value;
	if(cemail!="" && newp!="" &&  newp.length > 6 && cmpr!="" && cmpr.length > 6 && pwd!="" && pwd.length > 6 && newp==cmpr){
	}
	else{
		if(cemail==""){
			document.getElementById("changeemail_status").innerHTML="Enter Valid Email ID";
			return false;
		}

		if(pwd=="" || pwd.length < 6){
			document.getElementById("oldpassword_status").innerHTML="Enter Valid Password";
			return false;
		}
		if(newp=="" || newp.length < 6 ){
			document.getElementById("newpassword_status").innerHTML="Enter New Password";
			return false;
		}
		if(cmpr=="" || cmpr.length < 6 ){
			document.getElementById("conformpassword_status").innerHTML="Enter Confirm Password";
			return false;
		}
		if(newp!=cmpr ){
			document.getElementById("conformpassword_status").innerHTML="New Password and Confirm Password Must be Same";
			return false;
		}

	}
}
    </script>

</body>
</html>
