﻿
@{
    ViewBag.Title = "MonthlySummary";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Monthly Summary</h3>
        <div class="container-fluid">
            <form role="form">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-6" style="margin-left:-90px;">

                    </div>
                    <!--</form>-->
                    <div class="col-sm-2" style="margin-left:50px;">
                        @Html.DropDownList("Channel", (IEnumerable<SelectListItem>)ViewBag.Channel, "All", new { @class = "form-control col-lg-2" })
                    </div>
                </div>
            </form>
        </div>
        <!-- page start-->

        <div class="tab-pane" id="chartjs" style="margin-top:-10px;">
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel" id="linechart_all">
                        <div class="panel-body text-center">
                            <div id="containernew" class="panel-body text-center" style="height:450px">

                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt">
            </div>
        </div>

        <!-- page end-->
    </section>
</section><!-- /MAIN CONTENT -->
<footer class="site-footer">
    <div class="text-center">
        @DateTime.Now.Year &copy; Sunshare.
        <!--<a href="index.php#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>-->
    </div>
</footer>
<!--sidebar end-->
<!--main content start-->
<!-- /MAIN CONTENT -->
<!-- js placed at the end of the document so the pages load faster -->
<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="~/assets/js/common-scripts.js"></script>
<!--script for this page-->


<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="~/assets/js/tasks.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--<script src="https://code.highcharts.com/themes/dark-unica.js"></script>-->
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="monthly">

</div>
<script>
    $(document).ready(function () {
        var chanel = $("#Channel").val();
        $.ajax({
            url: '@Url.Action("MonthlyChannelSummary", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { ChannelId: chanel },
            success: function (response) {
                $('#monthly').html("");
                $('#monthly').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
    });
    $(document).on('change', '#Channel', function () {

        var chanel = $("#Channel").val();
        $.ajax({
            url: '@Url.Action("MonthlyChannelSummary", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { ChannelId: chanel },
            success: function (response) {
                $('#monthly').html("");
                $('#monthly').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
    });
    </script>