﻿@model SunhubReporting.Models.ReportingModels
@{
    ViewBag.Title = "ReportsAll";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    h3, .h3 {
        font-size: 24px;
        font-weight: 700;
        color: #3071A9;
    }

    .color-line {
        background: #f7f9fa linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%) no-repeat scroll 50% 100% / 100% 6px;
        height: 6px;
    }
     .dataTables_wrapper .dataTables_length {
    float: left;
    width: auto;
}
    .dataTables_wrapper .dataTables_filter {
    float: right;
    width: auto;
}
    #example_wrapper .dt-buttons {
        float: left;
        text-align: center;
        width: 64%;
    }
     th, td { white-space: nowrap;}
</style>
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> All Channels</h3>

        <!-- SIMPLE TO DO LIST -->
        <div class="row mt" style="margin-top:-18px;" id="filterdiv">
            <div class="col-lg-12">
                <div class="form-panel">
                    <div style="width:100%;border:1.5px solid black;width:100%;text-align:center;padding:30px;margin-left:2px;margin-right:2px;margin-top:1px;" align="center">

                        <div class="row">
                            <div class="row">
                                <div class="col-sm-offset-3 col-sm-7">
                                    <span class="select-date">Select Date Range: </span>
                                    <label id="startdate">
                                        <span class="filter_column filter_date_range">
                                            <span class="from">From</span>
                                            <input type="text" name="fromdate" id="fromdate" class="col-sm-4"  value='@DateTime.Now.Month/01/@DateTime.Now.Year' placeholder="From Date">
                                            <span class="to">To</span>
                                            <input type="text" name="todate" id="todate" class="col-sm-4"  value='@DateTime.Now.Month/@DateTime.Now.Day.ToString("00")/@DateTime.Now.Year' placeholder="To Date">
                                        </span>
                                    </label>
                                    </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label>Select Sales Rep: </label> <br>@Html.DropDownList("SalesRep", (IEnumerable<SelectListItem>)ViewBag.SalesRep, "All", new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Select Call Center:</label> @Html.DropDownList("Channel", (IEnumerable<SelectListItem>)ViewBag.Channel, "All", new { @class = "form-control" })
                                        <label id="updateddate"></label>
                                        <label id="lastupdatedby"></label>
                                        <label id="callcenter1"></label>
                                        <label id="fname"></label>
                                        <label id="lname"></label>
                                        <label id="emailid"></label>
                                        <label id="address"></label>
                                        <label id="excelno"></label>
                                        <label id="campaign"></label>
                                        <label id="mobileno"></label>
                                    </div>
                                    
                                    <div class="col-sm-4">
                                        <label class="">Select City:</label> @Html.DropDownList("City", (IEnumerable<SelectListItem>)ViewBag.City, "All", new { @class = "form-control" })
                                    </div>


                                </div>
                                </div>
                            <br />
                            <div class="row">

                                <div class="col-sm-12">
                                    
                                    <div class="col-sm-4">
                                        <label>Select State: </label> @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.State, "All", new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-4">
                                        <label>Select County: </label> <br>@Html.DropDownList("County", (IEnumerable<SelectListItem>)ViewBag.County, "All", new { @class = "form-control" })
                                    </div>
                                    <label id="zipcode"></label>
                                    <div class="col-sm-4">
                                        <label class="">Select Leads Status:</label> @Html.DropDownList("LeadStatus", (IEnumerable<SelectListItem>)ViewBag.LeadStatus, "All", new { @class = "form-control" })
                                    </div>

                                    <label id="signeddate"></label>
                                </div>
                            </div><br/>
                            <div class="col-sm-12 text-center" >
                                <button  class="btn btn-primary" id="search" value="search">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt" style="margin-top:-18px;">
            <div class="col-lg-12">
                <div class="form-panel" style="overflow: auto;">
                    <div class="pull-right" style="margin-top:-7px;display:none;" id="backid"><button class="fa fa-info-circle fa-lg btn btn-primary" id="backids" style="color:white"> Back</button></div>
                    <div class="pull-right" style="margin-top:-7px;" id="moreid"><button class="fa fa-info-circle fa-lg btn btn-primary" id="moreids" style="color:white"> More</button></div><br /><br />
                    @*<div id="imgloader" class="text-center" style="disply:none;"><img src="~/includes/image/loading.gif" style="width:50px;height:auto;"> <b>Please Wait....</b></img></div>*@
                    <div id="firstdiv">
                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Created Date</th>
                                    <th>Created Sales Rep</th>
                                    <th>Call Center</th>
                                    <th>Updated Date</th>
                                    <th>Last Updated by</th>
                                   <th>Updated Call Center</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email ID</th>
                                    <th>Address</th>
                                    <th>Utility Account No</th>
                                    <th>Campaign Type/Preferences</th>
                                    <th>Mobile No</th> 
                                    <th>Ciy</th> 
                                    <th>State</th> 
                                    <th>County</th>
                                    <th>Zipcode</th>
                                    <th>Contract Status</th>
                                    <th>Signed Date</th>
                                    <th>Envelope ID</th>
                                    <th>Lead Source</th>
                                    <th>Referred by</th>
                                </tr>
                                </thead>

                            <tbody id="tablebody">

                            </tbody>
                        </table>

                    </div>


                </div>
            </div><!-- col-lg-12-->
        </div><!-- /row -->
        <!-- SORTABLE TO DO LIST -->
    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
<footer class="site-footer">
    <div class="text-center">
        @DateTime.Now.Year &copy; Sunshare.
        <!--<a href="index.php#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>-->
    </div>
</footer>

<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="~/assets/js/common-scripts.js"></script>
<!--<script src="datatablefilter_column.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery.dataTables.min.css">
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>-->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/assets/js/tasks.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--<script src="https://code.highcharts.com/themes/dark-unica.js"></script>-->
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" href="~/assets/css/datatable-buttons.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" />
<script>
  $(function() {
    $( "#startdate" ).datepicker();
	$( "#enddate" ).datepicker();
  });
</script>
<script>
    $("#fromdate").datepicker({
        dateFormat: 'mm/dd/yy',

        onSelect: function (date) {
            $("#todate").datepicker("option", "minDate", date);

            var f_date = $('#fromdate').val();
            var t_date = $('#todate').val();

            var dateobj_from = new Date(f_date);
            var gmonth_from = ("0" + (dateobj_from.getMonth() + 1)).slice(-2);
            var gday_from = ("0" + (dateobj_from.getDate())).slice(-2);
            var gyear_from = dateobj_from.getFullYear();
            var f_date_all = gmonth_from + "/" + gday_from + "/" + gyear_from;

            var dateobj_to = new Date(t_date);
            var gmonth_to = ("0" + (dateobj_to.getMonth() + 1)).slice(-2);
            var gday_to = ("0" + (dateobj_to.getDate())).slice(-2);
            var gyear_to = dateobj_to.getFullYear();
            var t_date_all = gmonth_to + "/" + gday_to + "/" + gyear_to;
      

                  }
    });
    $("#todate").datepicker({
        dateFormat: 'mm/dd/yy',

        //beforeShow:function(){
        onClose: function () {
            var startdate = $('#fromdate').datepicker('getDate');
            if (startdate != null) {
                //startdate.setMonth(startdate.getMonth()+1);
                startdate.setDate(startdate.getDate('mm/dd/yy') + 30);
                var dateString = $.datepicker.formatDate("mm/dd/yy", startdate);
                $(this).datepicker('option', 'maxDate', dateString);
                //$(this).datepicker('option', 'minDate',startdate);
                // $(this).datepicker('option', 'maxDate',startdate);
                var f_date1 = $('#fromdate').val();
                var t_date1 = $('#todate').val();

                var dateobj_from = new Date(f_date1);
                var gmonth_from = ("0" + (dateobj_from.getMonth() + 1)).slice(-2);
                var gday_from = ("0" + (dateobj_from.getDate())).slice(-2);
                var gyear_from = dateobj_from.getFullYear();
                var f_date_all = gmonth_from + "-" + gday_from + "-" + gyear_from;

                var dateobj_to = new Date(t_date1);
                var gmonth_to = ("0" + (dateobj_to.getMonth() + 1)).slice(-2);
                var gday_to = ("0" + (dateobj_to.getDate())).slice(-2);
                var gyear_to = dateobj_to.getFullYear();
                var t_date_all = gmonth_to + "-" + gday_to + "-" + gyear_to;
              
            
            }
        }
    });
    $('#fromdate').change(function() {

        var f_dateval = $('#fromdate').val();
        var t_dateval = $('#todate').val();
        if(f_dateval=='' || t_dateval=='')
        {
            $('#fromdate').val('');
            $('#todate').val('');
           
        }
       
    });
    $('#todate').change(function() {
        var f_dateval = $('#fromdate').val();
        var to_dateval = $('#todate').val();

        if(to_dateval=='')
        {
            $('#fromdate').val('');
            $('#todate').val('');
        }
        
    });

</script>
<script>
$(document).ready(function() {
	//$("#imgloader").show();
    var f_date = $('#fromdate').val();
    var t_date = $('#todate').val();

    var dateobj_from = new Date(f_date);
    var gmonth_from = ("0" + (dateobj_from.getMonth() + 1)).slice(-2);
    var gday_from = ("0" + (dateobj_from.getDate())).slice(-2);
    var gyear_from = dateobj_from.getFullYear();
    var f_date_all = gmonth_from + "/" + gday_from + "/" + gyear_from;

    var dateobj_to = new Date(t_date);
    var gmonth_to = ("0" + (dateobj_to.getMonth() + 1)).slice(-2);
    var gday_to = ("0" + (dateobj_to.getDate())).slice(-2);
    var gyear_to = dateobj_to.getFullYear();
    var t_date_all = gmonth_to + "/" + gday_to + "/" + gyear_to;


    var srep = $("#SalesRep").val();
    var call = $("#Channel").val();
    var cit = $("#City   option:selected").text();
    var sta = $("#State   option:selected").text();
    var cou = $("#County   option:selected").text();
    var ls = $("#LeadStatus").val();
    $.ajax({
        url: '@Url.Action("AllReports", "Reporting")',
        type: "POST",
        dataType: "text",
        data: { fromDate: f_date_all, toDate: t_date_all, salesrep: srep, callcenter: call, city: cit, state: sta, county: cou, leadstatus: ls },
        success: function (response) {
          
            $('#tablebody').html("");
            $('#tablebody').append(response);
           // $('#example').DataTable();
            $('#example').DataTable(
                {
                    dom: 'lBfrtip',
                    autoWidth: false,
                    buttons: [

                         { extend: 'excelHtml5', text: 'Excel Export' }
                    ],
                    "bLengthChange": true,
                    "bScrollCollapse": true,
                    "bSort": true
                });
            // $('#myModal').modal('show');
        },
        error: function (response) {
        }
    });

});
$("#search").on("click", function (eve) {
    var f_date = $('#fromdate').val();
    var t_date = $('#todate').val();

    var dateobj_from = new Date(f_date);
    var gmonth_from = ("0" + (dateobj_from.getMonth() + 1)).slice(-2);
    var gday_from = ("0" + (dateobj_from.getDate())).slice(-2);
    var gyear_from = dateobj_from.getFullYear();
    var f_date_all = gmonth_from + "/" + gday_from + "/" + gyear_from;

    var dateobj_to = new Date(t_date);
    var gmonth_to = ("0" + (dateobj_to.getMonth() + 1)).slice(-2);
    var gday_to = ("0" + (dateobj_to.getDate())).slice(-2);
    var gyear_to = dateobj_to.getFullYear();
    var t_date_all = gmonth_to + "/" + gday_to + "/" + gyear_to;
    var srep=$("#SalesRep").val();
    var call = $("#Channel").val();
    var cit = $("#City   option:selected").text();
    var sta = $("#State   option:selected").text();
    var cou = $("#County   option:selected").text();
    var ls = $("#LeadStatus").val();
    $.ajax({
        url: '@Url.Action("AllReports", "Reporting")',
        type: "POST",
        dataType: "text",
        data: { fromDate: f_date_all, toDate: t_date_all, salesrep: srep, callcenter:call, city:cit, state:sta, county:cou, leadstatus:ls },
        success: function (response) {

           $('#example').DataTable().destroy();
           // $('#example').DataTable().clear().draw();
            $('#tablebody').html("");
            $('#tablebody').append(response);
           // $('#example').DataTable();
            $('#example').DataTable(
                {
                    dom: 'lBfrtip',
                    autoWidth: false,
                    buttons: [

                         { extend: 'excelHtml5', text: 'Excel Export' }
                    ],
                    "bLengthChange": true,
                    "bScrollCollapse": true,
                    "bSort": true
                }
                );
            // $('#myModal').modal('show');
        },
        error: function (response) {
        }
    });

		
	});
    $("#moreid").on("click", function (eve) {
        var nulldate = "";
      
        var srep = $("#SalesRep").val();
        var call = $("#Channel").val();
        var cit = $("#City   option:selected").text();
        var sta = $("#State   option:selected").text();
        var cou = $("#County   option:selected").text();
        var ls = $("#LeadStatus").val();
        $.ajax({
            url: '@Url.Action("AllReports", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { fromDate: nulldate, toDate: nulldate, salesrep: srep, callcenter: call, city: cit, state: sta, county: cou, leadstatus: ls },
            success: function (response) {

                $('#example').DataTable().destroy();
                // $('#example').DataTable().clear().draw();
                $('#tablebody').html("");
                $('#tablebody').append(response);
                // $('#example').DataTable();
                $('#example').DataTable(
                    {
                        dom: 'lBfrtip',
                        autoWidth: false,
                        buttons: [

                             { extend: 'excelHtml5', text: 'Excel Export' }
                        ],
                        "bLengthChange": true,
                        "bScrollCollapse": true,
                        "bSort": true
                    }
                    );
                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });

    });
</script>