﻿
@{
    ViewBag.Title = "WebCampaigns";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<style>
    h3, .h3 {
        font-size: 24px;
        font-weight: 700;
        color: #3071A9;
    }

    .color-line {
        background: #f7f9fa linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%) no-repeat scroll 50% 100% / 100% 6px;
        height: 6px;
    }

    #main-content .well {
        background-color: #ddd;
    }

    #main-content .form-panel {
        overflow: hidden;
    }
    .dataTables_wrapper .dataTables_length {
    float: left;
    width: auto;
}
    .dataTables_wrapper .dataTables_filter {
    float: right;
    width: auto;
}
    #example_wrapper .dt-buttons {
        float: left;
        text-align: center;
        width: 64%;
    }
     th, td { white-space: nowrap;}
</style>

<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>Web Campaigns</h3>
        <!-- page start-->

        <div class="well" style="margin-bottom: 0px; min-height:68px;">
            <div class="col-md-2">
                @Html.DropDownList("WebCampaign", (IEnumerable<SelectListItem>)ViewBag.WebCampaign, "Contacts", new { @class = "form-control", @onchange="change(this.value);" })
               
            </div>
            <div style="margin-top:7px;margin-right:150px;"><center><span id="lblcmpgnName" class="label label-warning" style="font-size:20px;">Contacts</span> </center></div>
        </div>
        <div class="row mt" style="margin-top:30px;">
            <div class="form-panel">
                <div class="col-lg-12">
                    @*<div id="imgloader" class="text-center" style="disply:none;"><img src="~/assets/img/loading.gif " style="width:50px;height:auto;"> <b>Please Wait....</b></img></div>*@
                    <div id="firstdiv">
                        <table class="display table table-striped table-bordered" id="example" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email ID</th>
                                    <th>Phone No</th>
                                    <th>State</th>
                                    <th>County</th>
                                    <th>Created Date</th>
                                </tr>
                            </thead>

                            <tbody id="tablebody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- page end-->
    </section>
</section><!-- /MAIN CONTENT -->

<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="~/assets/js/common-scripts.js"></script>
@*<script src="datatablefilter_column.js"></script>
 <link rel="stylesheet" href="jquery.dataTables.min.css">
 <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>*@
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/assets/js/tasks.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--<script src="https://code.highcharts.com/themes/dark-unica.js"></script>-->
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link rel="stylesheet" href="~/assets/css/datatable-buttons.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.1.2/js/buttons.html5.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" />
<script>
    $(document).ready(function () {
        var valu = $("#WebCampaign").val();
    $.ajax({
        url: '@Url.Action("WebCampaignsPartial", "Reporting")',
        type: "POST",
        dataType: "text",
        data: { name: valu },
        success: function (response) {

            $('#tablebody').html("");
            $('#tablebody').append(response);
            // $('#example').DataTable();
            $('#example').DataTable(
                {
                    dom: 'lBfrtip',
                    autoWidth: false,
                    buttons: [

                         { extend: 'excelHtml5', text: 'Excel Export' }
                    ],
                    "bLengthChange": true,
                   "bScrollCollapse": true,
                    "bSort": true

                });
            // $('#myModal').modal('show');
        },
        error: function (response) {
        }
    });
});
</script>
<script type="text/javascript">

    function change(va) {
        var jval = va;
        $.ajax({
            url: '@Url.Action("WebCampaignsPartial", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { name: jval },
            success: function (response) {
                $('#example').DataTable().destroy();
                $('#tablebody').html("");
                $('#tablebody').append(response);
                
                $('#example').DataTable(
                    {
                        dom: 'lBfrtip',
                        autoWidth: false,
                        buttons: [

                             { extend: 'excelHtml5', text: 'Excel Export' }
                        ],
                        "bLengthChange": true,
                        "bScrollCollapse": true,
                        "bSort": true
                    });
               
            },
            error: function (response) {
            }
        });
    }

</script>
