﻿
@{
    ViewBag.Title = "WebLeadTrend";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
      <!--main content start-->
<style>
    #tablediv #example_length > label {
    float: left;
}
    .from_to {
    margin-top: 4px !important;
}
</style>
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Web Lead Trend</h3>
        <div class="container-fluid">


            <form role="form">
                <!--<div class="form-group">
                 <div class="col-lg-3"><label style="color:black"><h4>Select Month<h4></label></div>
                  <input type="text" name="pick" id="pick" class="form-control col-lg-2"  placeholder="Select Month-Year">
                </div>-->
                <!--<div class="col-lg-2"><label style="color:black"><h4>Select Month<h4></label></div>
                          <div class="col-lg-3" style="margin-left:-40px;"><input type="text" name="pick" id="pick" class="form-control" width="46" value="<?php //echo $monthshow; ?>"></div>-->
                <!-- <div class="col-lg-2"><label style="color:black"><h4>From Date<h4></label></div>
                 <div class="col-lg-2" style="margin-left:-40px;"><input type="text" name="fromdate" id="fromdate" class="form-control"  value="<?php //echo $stdate;?>"></div>

                  <div class="col-lg-2"><label style="color:black"><h4>To Date<h4></label></div>
                 <div class="col-lg-2" style="margin-left:-40px;"><input type="text" name="todate" id="todate" class="form-control"  value="<?php //echo $cdate;?>"></div>

                   <div class="col-lg-2"><label style="color:black"><h4>Select<h4></label></div>
                   <div class="col-lg-2" >
                      <select class="form-control" name="itemselect" id="itemselect">
                           <option value="all">All</option>
                           <option value="enjoy50">Enjoy 50</option>
                           <option value="enjoy200">Enjoy 200</option>
                           <option value="enjoysolar">Enjoy Solar</option>
                           <option value="enjoy">Enjoy</option>
                           <option value="gift">Gift</option>
                           <option value="communitysolar">Community Solar</option>
                           <option value="digital">Digital</option>
                           <option value="digital2">Digital 2</option>
                           <option value="digital3">Digital 3</option>
                           <option value="digital4">Digital 4</option>
                           <option value="digital5">Digital 5</option>
                           <option value="digital6">Digital 6</option>
                           <option value="wow">Wow</option>
                           <option value="facebook">Facebook</option>
                           <option value="twitter">Twitter</option>
                           <option value="radio">Radio</option>
                      </select>
                  </div>-->
                <div class="row">
                    <div class="col-md-2">
                        <label style="color:black"><h4>From Date<h4></label>

                    </div>
                    <div class="col-md-2" style="margin-left:-70px;">
                        <input type="text" name="fromdate" id="fromdate" class="form-control from_to" value='@DateTime.Now.Month/01/@DateTime.Now.Year' placeholder="From Date">
                        <span id="ferr"></span>
                    </div>
                    <div class="col-md-2" style="margin-left:40px;">
                        <label style="color:black"><h4>To Date<h4></label>

                    </div>
                    <div class="col-md-2" style="margin-left:-90px;">
                        <input type="text" name="todate" id="todate" class="form-control from_to" value='@DateTime.Now.Month/@DateTime.Now.Day.ToString("00")/@DateTime.Now.Year' placeholder="To Date">
                        <span id="terr"></span>
                    </div>
                    <!--</form>-->
                    <div class="col-sm-2" style="margin-left:80px;">
                        @Html.DropDownList("WebCampaign", (IEnumerable<SelectListItem>)ViewBag.WebCampaign, "All", new { @class = "form-control" })

                    </div>

                </div>
                <input type="hidden" id="numofdays" value="30"><br />

            </form>
        </div>
        <!-- page start-->

        <div class="tab-pane" id="chartjs" style="margin-top:-10px;">
            <div class="row mt">

                <div class="col-lg-12">
                    <div class="content-panel" id="linechart_all">
                        <div class="panel-body text-center">
                            <div id="linechart" class="panel-body text-center" style="height:450px">

                            </div>
                            <div class="panel-body text-center" id="linechartshow" style="display:none;font-color:red">
                                <b style="color:red">Please Select From Date and Todate</b>
                            </div>
                        </div>
                    </div>
                    @*<div class="content-panel" id="linechart_individual" style="display:none;">
                        <div class="panel-body text-center">
                            <div id="linechartind" class="panel-body text-center" style="height:450px;">

                            </div>
                            <div class="panel-body text-center" id="linechartshow1" style="display:none;font-color:red">
                                <b style="color:red">Please Select From Date and Todate</b>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="content-panel" id="tablediv_all">
                   
                    </div>
                    @*<div class="content-panel" id="tablediv_individual" style="display:none;">
                        <div class="panel-body text-center" id="indtotalweblandingcount">

                        </div>
                        <div class="panel-body text-center" id="tabledivind">
                        </div>
                        <div class="panel-body text-center" id="tableshowerror1" style="display:none;font-color:red">
                            <b style="color:red">Please Select From Date and Todate</b>
                        </div>
                    </div>*@
                </div>

            </div>
        </div>

        <!-- page end-->
    </section>
</section><!-- /MAIN CONTENT -->
<footer class="site-footer">
    <div class="text-center">
        @DateTime.Now.Year &copy; Sunshare.
        <!--<a href="index.php#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>-->
    </div>
</footer>
<!--sidebar end-->
<!--main content start-->
<!-- /MAIN CONTENT -->
<!-- js placed at the end of the document so the pages load faster -->
<script src="~/assets/js/jquery.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="~/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="~/assets/js/jquery.scrollTo.min.js"></script>
<script src="~/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<!--common script for all pages-->
<script src="~/assets/js/common-scripts.js"></script>
<!--script for this page-->


<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="~/assets/js/tasks.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<!--<script src="https://code.highcharts.com/themes/dark-unica.js"></script>-->
<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css" />


<script>
    $("#fromdate").datepicker({
        dateFormat: 'mm/dd/yy',

        onSelect: function (date) {
            $("#todate").datepicker("option", "minDate", date);

            var f_date = $('#fromdate').val();
            var t_date = $('#todate').val();

            var dateobj_from = new Date(f_date);
            var gmonth_from = ("0" + (dateobj_from.getMonth() + 1)).slice(-2);
            var gday_from = ("0" + (dateobj_from.getDate())).slice(-2);
            var gyear_from = dateobj_from.getFullYear();
            var f_date_all = gmonth_from + "/" + gday_from + "/" + gyear_from;

            var dateobj_to = new Date(t_date);
            var gmonth_to = ("0" + (dateobj_to.getMonth() + 1)).slice(-2);
            var gday_to = ("0" + (dateobj_to.getDate())).slice(-2);
            var gyear_to = dateobj_to.getFullYear();
            var t_date_all = gmonth_to + "/" + gday_to + "/" + gyear_to;
         var lid = $("#WebCampaign").val();
                $.ajax({
                    url: '@Url.Action("WebLeadTrendChart", "Reporting")',
                    type: "POST",
                    dataType: "text",
                    data: { start: f_date_all, end: t_date_all, landid: lid },
                    success: function (response) {
                        $('#webTrend').html("");
                        $('#webTrend').append(response);

                        // $('#myModal').modal('show');
                    },
                    error: function (response) {
                    }
                });
            $.ajax({
                url: '@Url.Action("WebLeadTrendTable", "Reporting")',
                type: "POST",
                dataType: "text",
                data: { start: f_date_all, end: t_date_all, landid: lid },
                success: function (response) {
                    $('#example').DataTable().destroy();
                    $('#tablediv_all').html("");
                    $('#tablediv_all').append(response);
                    $('#example').DataTable();
                    document.getElementById('fromdat').innerHTML = f_date;
                    document.getElementById('todat').innerHTML = t_date;
                },
                error: function (response) {
                }
            });

                  }
    });
    $("#todate").datepicker({
        dateFormat: 'mm/dd/yy',

        //beforeShow:function(){
        onClose: function () {
            var startdate = $('#fromdate').datepicker('getDate');
            if (startdate != null) {
                //startdate.setMonth(startdate.getMonth()+1);
                startdate.setDate(startdate.getDate('mm/dd/yy') + 30);
                var dateString = $.datepicker.formatDate("mm/dd/yy", startdate);
                $(this).datepicker('option', 'maxDate', dateString);
                //$(this).datepicker('option', 'minDate',startdate);
                // $(this).datepicker('option', 'maxDate',startdate);
                var f_date1 = $('#fromdate').val();
                var t_date1 = $('#todate').val();

                var dateobj_from = new Date(f_date1);
                var gmonth_from = ("0" + (dateobj_from.getMonth() + 1)).slice(-2);
                var gday_from = ("0" + (dateobj_from.getDate())).slice(-2);
                var gyear_from = dateobj_from.getFullYear();
                var f_date_all = gmonth_from + "-" + gday_from + "-" + gyear_from;

                var dateobj_to = new Date(t_date1);
                var gmonth_to = ("0" + (dateobj_to.getMonth() + 1)).slice(-2);
                var gday_to = ("0" + (dateobj_to.getDate())).slice(-2);
                var gyear_to = dateobj_to.getFullYear();
                var t_date_all = gmonth_to + "-" + gday_to + "-" + gyear_to;
                var lid = $("#WebCampaign").val();
                $.ajax({
                    url: '@Url.Action("WebLeadTrendChart", "Reporting")',
                    type: "POST",
                    dataType: "text",
                    data: { start: f_date_all, end: t_date_all, landid: lid },
                    success: function (response) {
                        $('#webTrend').html("");
                        $('#webTrend').append(response);

                        // $('#myModal').modal('show');
                    },
                    error: function (response) {
                    }
                });
                $.ajax({
                    url: '@Url.Action("WebLeadTrendTable", "Reporting")',
                    type: "POST",
                    dataType: "text",
                    data: { start: f_date_all, end: t_date_all, landid: lid },
                    success: function (response) {
                        $('#example').DataTable().destroy();
                        $('#tablediv_all').html("");
                        $('#tablediv_all').append(response);
                      $('#example').DataTable();
                        // $('#myModal').modal('show');
                      document.getElementById('fromdat').innerHTML = f_date1;
                      document.getElementById('todat').innerHTML = t_date1;
                    },
                    error: function (response) {
                    }
                });
            }

        }
    });
    $('#fromdate').change(function() {

        var f_dateval = $('#fromdate').val();
        var t_dateval = $('#todate').val();

        if(f_dateval=='' || t_dateval=='')
        {
            $('#fromdate').val('');
            $('#todate').val('');
            $('#linechart').hide();
            $('#linechartshow').show();
            $("#tablediv").hide();
            $('#tableshowerror').show();

            $("#linechart_individual").hide();
            $("#tabledivind").hide();
            $("#tableshowerror1").show();
            $("#linechartshow1").show();

        }
        else
        {
            //$('#linechart').show();
            $('#linechart').show();
            $('#linechartshow').hide();
            $("#tablediv").show();
            $('#tableshowerror').hide();

            $("#tableshowerror1").hide();
            $("#tabledivind").show();
            $("#linechart_individual").show();
            $("#linechartshow1").hide();
        }
        document.getElementById('fromdat').innerHTML = f_dateval;
        document.getElementById('todat').innerHTML = t_dateval;;
    });
    $('#todate').change(function() {
        var f_dateval = $('#fromdate').val();
        var t_dateval = $('#todate').val();

        if(t_dateval=='')
        {
            $('#fromdate').val('');
            $('#todate').val('');
            $('#linechart').hide();
            $('#linechartshow').show();
            $("#tablediv").hide();
            $('#tableshowerror').show();

            $("#linechart_individual").hide();
            $("#tabledivind").hide();
            $("#tableshowerror1").show();
            $("#linechartshow1").show();

        }
        else{
            $('#linechart').show();
            $('#linechartshow').hide();
            $("#tablediv").show();
            $('#tableshowerror').hide();

            $("#tableshowerror1").hide();
            $("#tabledivind").show();
            $("#linechart_individual").show();
            $("#linechartshow1").hide();

        }

        document.getElementById('fromdat').innerHTML = f_dateval;
        document.getElementById('todat').innerHTML = t_dateval;;
    });

</script>
<div id="webTrend">
</div>
<script>

    $(document).ready(function () {
        var webcamp = $("#WebCampaign").val();
        var startdate='@DateTime.Now.Month/01/@DateTime.Now.Year'
        var endDate = '@DateTime.Now.Month/@DateTime.Now.Day.ToString("00")/@DateTime.Now.Year'
        $.ajax({
            url: '@Url.Action("WebLeadTrendChart", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { start: startdate, end: endDate, landid: 0 },
            success: function (response) {
                $('#webTrend').html("");
                $('#webTrend').append(response);
            },
            error: function (response) {
            }
        });
        $.ajax({
            url: '@Url.Action("WebLeadTrendTable", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { start: startdate, end: endDate, landid: 0 },
            success: function (response) {

                $('#tablediv_all').html("");
                $('#tablediv_all').append(response);
                $('#example').DataTable();
                var f_date1 = $('#fromdate').val();
                var t_date1 = $('#todate').val();
                document.getElementById('fromdat').innerHTML = f_date1;
                document.getElementById('todat').innerHTML = t_date1;
            },
            error: function (response) {
            }
        });

    });
    $(document).on('change', '#WebCampaign', function () {
        var f_date = $('#fromdate').val();
        var t_date = $('#todate').val();

        var dateobj_from = new Date(f_date);
        var gmonth_from = ("0" + (dateobj_from.getMonth() + 1)).slice(-2);
        var gday_from = ("0" + (dateobj_from.getDate())).slice(-2);
        var gyear_from = dateobj_from.getFullYear();
        var f_date_all = gmonth_from + "/" + gday_from + "/" + gyear_from;

        var dateobj_to = new Date(t_date);
        var gmonth_to = ("0" + (dateobj_to.getMonth() + 1)).slice(-2);
        var gday_to = ("0" + (dateobj_to.getDate())).slice(-2);
        var gyear_to = dateobj_to.getFullYear();
        var t_date_all = gmonth_to + "/" + gday_to + "/" + gyear_to;
        var lid = $("#WebCampaign").val();
        $.ajax({
            url: '@Url.Action("WebLeadTrendChart", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { start: f_date_all, end: t_date_all, landid: lid },
            success: function (response) {
                $('#webTrend').html("");
                $('#webTrend').append(response);

                // $('#myModal').modal('show');
            },
            error: function (response) {
            }
        });
        $.ajax({
            url: '@Url.Action("WebLeadTrendTable", "Reporting")',
            type: "POST",
            dataType: "text",
            data: { start: f_date_all, end: t_date_all, landid: lid },
            success: function (response) {
                $('#example').DataTable().destroy();
                $('#tablediv_all').html("");
                $('#tablediv_all').append(response);
                $('#example').DataTable();
                // $('#myModal').modal('show');
                document.getElementById('fromdat').innerHTML = f_date;
                document.getElementById('todat').innerHTML = t_date;
            },
            error: function (response) {
            }
        });

    });
</script>