/***
Login page
***/

/* logo page */
.login {
  background:rgba(3,3,3,0.50) url(../../img/bg.jpg)  no-repeat; 
  background-size: cover;
  
}

.login .logo {
  background:none;
    margin: 50px 0 20px 0;
    padding: 15px;
    text-align: center
}  

.login .content {
  width: 360px;
  margin: 20px auto; 
  margin-bottom: 0px;
  padding: 0px;   
  border-radius: 4px;
}

.login .content h3 {
  color:#F26322 ;
  font-family:bold;
}
.login .content h4  {
  color: #555;
  color:#F26322 ;
}

.login .content p {
  color: #fff;
}

.login .content .login-form,
.login .content .forget-form {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    margin: 0;
    padding: 20px 30px 15px;
    overflow:hidden;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 25px;
  font-family: "Open Sans",sans-serif;
}

.login .content .form-actions {
  background:none;
  clear: both;
  padding: 0px 30px 0 30px;
  margin-left: -30px;
  margin-right: -30px;
  color:#fff;
  border:none;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}  

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .checkbox {
  margin: 0 0 0 20px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .forget-password {
  margin-top: 0; color:#fff;
}

.login .content .create-account {
  border-top: 1px dotted #eee;
  padding-top: 10px;
  margin-top: 15px;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}
.forget-password p a{color:#fff;}
/* select2 dropdowns */


.login .content .select2-container i {
  display: inline-block;
  position: relative;
  color: #ccc;
  z-index: 1;
  top:1px;
  margin: 4px 4px 0px 3px; 
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center; 
}

.login .content .has-error .select2-container i {
  color: #b94a48;
}

.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto; 
  padding: 10px;
  color: #000;
  font-size: 13px;
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top:10px;
  }

  .login .content {
    padding1: 20px; 
    width: 280px;
  }

  .login .content h3 {
    font-size: 22px;
  }


  .login .checkbox {
    font-size: 13px;
  }
}
.color-line {
    background: #f7f9fa linear-gradient(to right, #34495e, #34495e 25%, #9b59b6 25%, #9b59b6 35%, #3498db 35%, #3498db 45%, #62cb31 45%, #62cb31 55%, #ffb606 55%, #ffb606 65%, #e67e22 65%, #e67e22 75%, #e74c3c 85%, #e74c3c 85%, #c0392b 85%, #c0392b 100%) no-repeat scroll 50% 100% / 100% 6px;
    height: 6px;
}