﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/jstree/dist/themes/default/style.min.css" />

    <meta name="MobileOptimized" content="320">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/multiselect/chosenstyle.css">
    <link rel="stylesheet" href="~/assets/css/multiselect/prism.css">
    <link rel="stylesheet" href="~/assets/css/multiselect/chosen.css">
   
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/bootstrap-datepicker/css/datepicker.css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/assets/css/style-conquer.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages/tasks.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/sweetalert.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="~/assets/img/sunshare-favicon-sun1.ico" />
</head>
<body class="page-header-fixed">
    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->            
            <div class="page-logo"> <a href="#"> <img src="~/assets/img/logo.png" alt="logo" /> </a> </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <img src="~/assets/img/menu-toggler.png" alt="" /> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
              
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"><i class="fa fa-user"></i><span class="username username-hide-on-mobile">Admin </span> </a>
                        <ul class="dropdown-menu">
                            <li> <a href="http://sunhub.mysunshare.com"><i class="fa fa-key"></i> Log Out</a> </li>
                        </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix"> </div>
    <div>
      @RenderBody()
       
    </div>
    <!-- BEGIN FOOTER -->
    <div class="footer">
        <div class="footer-inner"> 2016 &copy; SunHub. </div>
        <div class="footer-tools"> <span class="go-top"> <i class="fa fa-angle-up"></i> </span> </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    @*<script src="~/assets/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>*@

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>

    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <script src="~/assets/plugins/jquery.input-ip-address-control-1.0.min.js"></script>
    <script src="~/assets/plugins/jquery-multi-select/js/jquery.multi-select.js"></script>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/assets/plugins/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    
    @*<script src="~/assets/scripts/table-editable.js"></script>*@
    <script src="~/assets/scripts/table-creativeeditable.js"></script>
    <script src="~/assets/scripts/table-incentiveeditable.js"></script>
    <script src="~/assets/scripts/table-offercodeeditable.js"></script>
    <script src="~/assets/scripts/table-landingeditable.js"></script>
    <script src="~/assets/scripts/sweetalert.min.js"></script> 
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="~/assets/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="~/assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
    <script src="~/assets/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script>

    <script type="text/javascript" src="~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
    <script src="~/assets/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/scripts/app.js" type="text/javascript"></script>
    <script src="~/assets/scripts/index.js" type="text/javascript"></script>
    <script src="~/assets/scripts/tasks.js" type="text/javascript"></script>
    <script src="~/assets/scripts/form-components.js"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    @*<script src="~/Scripts/Dc.js"></script>*@
    <script src="~/Scripts/Chart.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="~/assets/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
    <script src="~/assets/scripts/ui-extended-modals.js"></script>

    <script src="~/assets/scripts/jstree.js"></script>
    <script src="~/assets/scripts/ui-tree.js"></script>

    <script src="~/assets/plugins/Highcharts-4.2.6/js/highcharts.js"></script>
    <script src="~/assets/plugins/Highcharts-4.2.6/js/modules/data.js"></script>
    <script src="~/assets/plugins/Highcharts-4.2.6/js/modules/drilldown.js"></script>

    @*<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>*@


    <script>
    $(document).ready(function(){
        $("#nxtbtn").click(function () {
            if ($('#Name').val() != "" && $('#Sdate').val() != "" && $('#Edate').val() != "" && $('#PlannedBudget').val() != "") {
                $("#first_form, #nxtbtn").hide();
                $("#btnupdatesubcampaign").hide();
                $("#second_form, #backbtn, #finalsubmit , #finalupdate").show();
            } else {
                sweetAlert("Please fill all the fields.");
            }

        });
        $("#backbtn").click(function () {
            $("#second_form, #backbtn, #finalsubmit ,#finalupdate").hide();
            $("#btnupdatesubcampaign").hide();
            $("#first_form, #nxtbtn").show();
        });
        $("#tblsubcamp").on("click", ".removeLink", function () {
            var trow = $(this).closest("tr");
            trow.remove();
            return false;
        });
        $("#btnaddsubcampaign").click(function (e) {
            e.preventDefault();

            var parent = $('#parent :selected').text(); var Channel = $('#Channel :selected').text(); var subtype = $('#subtype :selected').text();
            var Incentive = $('#Incentive :selected').text(); var Creative = $('#Creative :selected').text(); var PhoneNo = $('#PhoneNo :selected').text();
            var Landing_Page = $('#LandingPage :selected').text(); var Budget = $('#Budget').val(); var OfferCode = $('#OfferCode').val();
            var State = $('#State :selected').text();
            var PlannedCost = $('#PlannedCost').val(); var ActualCost = $('#ActualCost').val();
            var selected = $("#County option:selected");
            var message = "";
            selected.each(function () {
                message += $(this).text() + ",";
            });
            if (parent != '' && Channel != 'Select' && subtype != 'Select' && Incentive != '' && Creative != '' && PhoneNo != '' && Landing_Page != '' && Budget != '' && OfferCode != '' && State != '' && message != '' && PlannedCost != '' && ActualCost != '') {
                $('#tblsubcamp').append('<tr><td>' + parent + '</td><td>' + Channel + '</td><td>' + subtype + '</td><td>' + Incentive + '</td>' +
                    '<td>' + Creative + '</td><td>' + PhoneNo + '</td><td>' + Landing_Page + '</td><td>' + Budget + '</td><td>' + OfferCode + '</td><td>' + State +
                    '</td><td>' + message + '</td><td>' + PlannedCost + '</td><td>' + ActualCost + '</td> <td><a href="#" id="remove" class="removeLink">Remove</a></td></tr>');
            } else { sweetAlert("Please fill all the fields."); }
        });

        $("#btncreatesubcampaign").click(function (e) {
            e.preventDefault();
            var parent = $('#parent :selected').text(); var Channel = $('#Channel :selected').text(); var subtype = $('#subtype :selected').text();
            var Incentive = $('#Incentive :selected').text(); var Creative = $('#Creative :selected').text(); var PhoneNo = $('#PhoneNo :selected').text();
            var Landing_Page = $('#LandingPage :selected').text(); var Budget = $('#campfields_Budget').val();
            var OfferCode = $('#campfields_OfferCode').val();
            var State = $('#State :selected').text();
            var PlannedCost = $('#campfields_PlannedCost').val(); var ActualCost = $('#campfields_ActualCost').val();
            var selected = $("#County option:selected");
            var message = "";
            selected.each(function () {
                message += $(this).text() + ",";
            });
            if (parent != 'Select' && Channel != 'Select' && subtype != 'Select' && Incentive != 'Select' && Creative != 'Select' && PhoneNo != 'Select' && Landing_Page != 'Select' && Budget != '' && OfferCode != '' && State != '' && message != '' && PlannedCost != '' && ActualCost != '') {
                $('#tblsubcamp').append('<tr><td style="display:none;" >0</td><td>' + parent + '</td><td>' + Channel + '</td><td>' + subtype + '</td><td>' + Incentive + '</td>' +
                    '<td>' + Creative + '</td><td>' + PhoneNo + '</td><td>' + Landing_Page + '</td><td>' + Budget + '</td><td>' + OfferCode + '</td><td>' + State +
                    '</td><td>' + message + '</td><td>' + PlannedCost + '</td><td>' + ActualCost + '</td><td><a href="#" id="remove" class="removeLink">Remove</a></td></tr>');

            } else { sweetAlert("Please fill all the fields."); }
        });
        var intival = 0;
        $("#finalsubmit").click(function (e) {
            e.preventDefault();
            var Name = $('#Name').val();
            var Sdate = $('#Sdate').val();
            var Edate = $('#Edate').val();
            var PlannedBudget = $('#PlannedBudget').val();

            $('#tblsubcamp tr').each(function () {
                if (!this.rowIndex) return;
                var CamValues = Name + "|" + Sdate + "|" + Edate + "|" + PlannedBudget + "|" + this.cells[0].innerHTML + "|" + this.cells[1].innerHTML + "|" +
                                this.cells[2].innerHTML + "|" + this.cells[3].innerHTML + "|" +
                                this.cells[4].innerHTML + "|" + this.cells[5].innerHTML + "|" + this.cells[6].innerHTML + "|" + this.cells[7].innerHTML + "|" + this.cells[8].innerHTML
                                + "|" + this.cells[9].innerHTML + "|" + this.cells[10].innerHTML + "|" + this.cells[11].innerHTML + "|" + this.cells[12].innerHTML;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateCampaignload","Home")',
                    dataType: "text",
                    data: { id: CamValues },
                    success: function (data) {
                        swal({
                            title: "Created Successfully",
                            type: "success",
                            timer: 5000,
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    },
                    error: function (ex) {
                        intival++;
                    }

                });
            });



        });



        $("#btnrootparentsubmit").click(function (e) {
            e.preventDefault();
            var PName = $('#txtparentdata').val();
            if (PName != '') {
                $.ajax({
                    //url: "../Home/SaveParents",
                    url: '@Url.Action("SaveParents", "Home")',
                    type: "POST",
                    dataType: "text",
                    data: { name: PName },
                    success: function (data) {
                        //alert("Saved Successfully.");
                        swal({
                            title: "Saved Successfully",
                            type: "success",
                            timer: 5000,
                            showConfirmButton: false
                        });
                        setTimeout(function () {
                            window.location.reload();
                        }, 1500);
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            }
            //setTimeout(function () {
            //    window.location.reload();
            //}, 1000);
        });

        $("#btncreatetree").click(function (e) {
            e.preventDefault();
            var GetJsondata = $('#tree_3').jstree(true).get_json();
            var mytext = JSON.stringify(GetJsondata);
            $.ajax({
                //url: "../Home/SaveTypes",
                url: '@Url.Action("SaveTypes", "Home")',
                type: "POST",
                // contentType: "application/json; charset=utf-8",
                dataType: "text",
                data: { valjson: mytext },
                success: function (data) {
                    // alert("zz");
                    //  window.location.reload();
                },
                error: function (xhr, status, error) {
                    // alert(xhr.responseText);
                    // window.location.reload();
                }

            });
            swal({
                title: "Saved Successfully",
                type: "success",
                showConfirmButton: true
            });
            // window.location.reload();
        });

        $("#finalupdatesubmit").click(function (e) {
            e.preventDefault();
            var Name = $('#Name').val();
            var Sdate = $('#Sdate').val();
            var Edate = $('#Edate').val();
            var PlannedBudget = $('#PlannedBudget').val();
            var CampaignID = $('#CampaignID').val();

            var parent = $('#parent :selected').text(); var Channel = $('#Channel :selected').text(); var subtype = $('#subtype :selected').text();
            var Incentive = $('#Incentive :selected').text(); var Creative = $('#Creative :selected').text(); var PhoneNo = $('#PhoneNo :selected').text();
            var Landing_Page = $('#LandingPage :selected').text(); var Budget = $('#Budget').val(); var OfferCode = $('#OfferCode').val();
            var State = $('#State :selected').text();
            var PlannedCost = $('#PlannedCost').val(); var ActualCost = $('#ActualCost').val();
            var selected = $("#County option:selected");
            var message = "";
            selected.each(function () {
                message += $(this).text() + ",";
            });
            var CamupdateValues = Name + "|" + Sdate + "|" + Edate + "|" + PlannedBudget + "|" + parent + "|" + Channel + "|" + subtype + "|" + Incentive + "|" + Creative + "|" +
                                  PhoneNo + "|" + Landing_Page + "|" + Budget + "|" + CampaignID + "|" + OfferCode + "|" + State + "|" + message + "|" + PlannedCost + "|" + ActualCost;
            $.ajax({

                type: "POST",
                url: '@Url.Action("UPDATEEDITCAMPAIGNDATA","Home")',
                dataType: "text",
                data: { id2: CamupdateValues },
                success: function (data) {
                    alert("Before");
                    swal({
                        title: "Updated Successfully",
                        type: "success"
                    });
                    //setTimeout(function () {
                    //           window.location.reload();
                    //       }, 1500));
                   
                },
                error: function (xhr, status, error) {
                    //alert(xhr.responseText);
                }

            });
        });

    });
    var intival = 0;
    $("#finalupdate").click(function (e) {
        e.preventDefault();
        var columns = [
             'CampaignID',
             'ParentType',
             'Channel',
             'SubType',
             'Incentive',
             'Creative',
             'PhoneNo',
             'LandingPageURL',
             'Budget',
             'OfferCode',
             'State',
             'County',
             'PlannedCost',
             'ActualCost'
        ];
        var Name = $('#Name').val();
        var Sdate = $('#Sdate').val();
        var Edate = $('#Edate').val();
        var PlannedBudget = $('#campfields_PlannedBudget').val();
        var tableObject = $('#tblsubcamp tbody tr').map(function (i) {
            var row = {};
            $(this).find('td').each(function (i) {
                var rowName = columns[i];
                row[rowName] = $(this).text();
            });

            return row;
        }).get();

        $.ajax({
            type: "POST",
            url: '@Url.Action("EditCampaignLoad", "Home")',
            dataType: "text",
            data: { objects: tableObject, name: Name, sdate: Sdate, edate: Edate, pBudget: PlannedBudget },
            success: function (response) {
                //alert("fail");
                var returnedData = JSON.parse(response);
                swal({
                    title: returnedData.title,
                    type: returnedData.typeval
                },
                              function () {
                                  window.location.reload();
                              });
            },
            error: function (response) {
                sweetAlert("Error");
                //  intival++;
            }
        });
    });
    </script>
    <script>
    function EditFillChannel() {
    var txt = $('#parent :selected').text()
    $.ajax({
        type: "GET",
        url: "/home/DDLChannel",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: { name: txt },
        success: function (data) {
            var markup = "<option value='0'>Select</option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].ID + ">" + data[x].Name + "</option>";
            }
            $("#Channel").html(markup).show();
        }
    });
}

    function EditFillSubType() {
        var txt = $('#Channel :selected').text()
    $.ajax({
        type: "GET",
        url: "/home/DDLSubType",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: { name: txt },
        success: function (data) {
            var markup = "<option value='0'>Select</option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].ID + ">" + data[x].Name + "</option>";
            }
            $("#subtype").html(markup).show();
        }
    });
    }

    </script>
    <script>
    jQuery(document).ready(function() {
        App.init();
        //UITree.init();
        //TableEditable.init();
        CreativeTableEditable.init();
        IncentiveTableEditable.init();
        TableOfferCodeEditable.init();
        TableLandingEditable.init();
        FormComponents.init();
        Index.init();
        Index.initCalendar(); // init index page's custom scripts
        Index.initPeityElements();
        Index.initKnowElements();
        Index.initDashboardDaterange();
        Tasks.initDashboardWidget();
        
   
});
    </script>
    <script>
        var cid = 0;
    function editfill(value) {
        cid = value;
        var theTbl = document.getElementById('tblsubcamp');

        for (var i = 0; i < theTbl.rows.length; i++) {
            if (theTbl.rows[i].cells[0].innerHTML == cid) {
                var el = document.getElementById("parent");
                for (var p = 0; p < el.options.length; p++) {
                    if (el.options[p].text == theTbl.rows[i].cells[1].innerHTML) {
                        el.selectedIndex = p;
                        break;
                    }
                }


                var el3 = document.getElementById("Incentive");
                for (var l = 0; l < el3.options.length; l++) {
                    if (el3.options[l].text == theTbl.rows[i].cells[4].innerHTML) {
                        el3.selectedIndex = l;
                        break;
                    }
                }
                var el4 = document.getElementById("Creative");
                for (var m = 0; m < el4.options.length; m++) {
                    if (el4.options[m].text == theTbl.rows[i].cells[5].innerHTML) {
                        el4.selectedIndex = m;
                        break;
                    }
                }
                var el5 = document.getElementById("PhoneNo");
                for (var n = 0; n < el5.options.length; n++) {
                    if (el5.options[n].text == theTbl.rows[i].cells[6].innerHTML) {
                        el5.selectedIndex = n;
                        break;
                    }
                }
                var el6 = document.getElementById("LandingPage");
                for (var o = 0; o < el6.options.length; o++) {
                    if (el6.options[o].text == theTbl.rows[i].cells[7].innerHTML) {
                        el6.selectedIndex = o;
                        break;
                    }
                }
                var el7 = document.getElementById("State");
                for (var p = 0; p < el7.options.length; p++) {
                    if (el7.options[p].text == theTbl.rows[i].cells[10].innerHTML) {
                        el7.selectedIndex = p;
                        break;
                    }
                }
                var sa = $('#State :selected').text();
                var txt = $('#parent :selected').text();
                var txtn = $('#Channel :selected').text();
                var ch = theTbl.rows[i].cells[2].innerHTML;
                var su = theTbl.rows[i].cells[3].innerHTML;
                var oc = theTbl.rows[i].cells[9].innerHTML;
                var pc = theTbl.rows[i].cells[12].innerHTML;
                var ac = theTbl.rows[i].cells[13].innerHTML;
                var co = theTbl.rows[i].cells[11].innerHTML;
                var cou = co.split(',');


                $("#campfields_OfferCode").val(oc);
                $("#campfields_PlannedCost").val(pc);
                $("#campfields_ActualCost").val(ac);
                $.ajax({
                    type: "GET",
                    url:  '@Url.Action("DDLChannel", "Home")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { name: txt },
                    success: function (data) {
                        var markup = "<option value='0'>Select</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].ID + ">" + data[x].Name + "</option>";
                        }
                        $("#Channel").html(markup).show();
                        var el1 = document.getElementById("Channel");
                        var le = el1.options.length;
                        for (var j = 0; j < el1.options.length; j++) {
                            if (el1.options[j].text == ch) {
                                el1.selectedIndex = j;
                                var txtn = $('#Channel :selected').text();
                                break;
                            }
                        }
                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("DDLSubType", "Home")',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: { name: txtn },
                            success: function (data) {
                                var markup = "<option value='0'>Select</option>";
                                for (var x = 0; x < data.length; x++) {
                                    markup += "<option value=" + data[x].ID + ">" + data[x].Name + "</option>";
                                }
                                $("#subtype").html(markup).show();
                                var el2 = document.getElementById("subtype");
                                var la = el2.options.length;
                                for (var k = 0; k < el2.options.length; k++) {

                                    if (el2.options[k].text == su) {
                                        el2.selectedIndex = k;
                                        break;
                                    }
                                }
                            }, error: function (data) {
                                var txtn = $('#Channel :selected').text();
                            }
                        });
                    }, error: function (data) {
                        var txt = $('#parent :selected').text();
                    }
                });
                $.ajax({
                    type: "GET",
                    url:  '@Url.Action("DDLCounty", "Home")',
                    contentType: "application/json; charset=utf-8",
                    async:false,
                    dataType: "json",
                    data: { name: sa },
                    success: function (data) {
                        var markup = '';
                        for (var x = 0; x < data.length; x++) {
                            markup += '<option value="' + data[x].Name + '">' + data[x].Name + '</option>';
                        }
                     //   $("#County").multiselect('destroy');
                        $("#County").html(markup);
                        //    $('#County').multiselect();
                        $("#County").trigger("chosen:updated");
                        //$('#County').multiselect({
                        //    maxHeight: 250,
                        //    buttonWidth: '412px'
                        //});
                    },
                    error: function (data) {

                    }
                });
                $.each(co.split(","), function (i, e) {

                    if ((e.trim().length !=0)&&(e!=null)&&(e!=undefined)) {
                       // $('#County').val(e);
                            $('#County option[value="' + e + '"]').attr("selected", "selected");

                    }
                });
                $("#County").trigger("chosen:updated");

                //var el9 = document.getElementById("County");
                //var len = el9.options.length;
                //for (var r = 0; r < el9.options.length; r++) {
                //    for (var s = 0; s < cou.length; s++) {
                //        if (el9.options[r].text == cou[s]) {
                //            el9.selectedIndex = r;

                //        }
                //    }
                //}

                $('#campfields_Budget').val(theTbl.rows[i].cells[8].innerHTML);

            }
        }
        $("#btncreatesubcampaign").hide();
        $("#btnupdatesubcampaign").show();

    }
        $("#btnupdatesubcampaign").click(function (e) {
            var theTbl = document.getElementById('tblsubcamp');

            for (var i = 0; i < theTbl.rows.length; i++) {
                if (theTbl.rows[i].cells[0].innerHTML == cid) {
                    var parent = $('#parent :selected').text(); var Channel = $('#Channel :selected').text(); var subtype = $('#subtype :selected').text();
                    var Incentive = $('#Incentive :selected').text(); var Creative = $('#Creative :selected').text(); var PhoneNo = $('#PhoneNo :selected').text();
                    var Landing_Page = $('#LandingPage :selected').text(); var Budget = $('#campfields_Budget').val();
                    var OfferCode = $('#campfields_OfferCode').val();
                    var State = $('#State :selected').text();
                    var PlannedCost = $('#campfields_PlannedCost').val(); var ActualCost = $('#campfields_ActualCost').val();
                    var selected = $("#County option:selected");
                    var message = "";
                    selected.each(function () {
                        message += $(this).text() + ",";
                    });
                    if (parent != '' && Channel != 'Select' && subtype != 'Select' && Incentive != 'Select' && Creative != 'Select' && PhoneNo != 'Select' && Landing_Page != 'Select' && Budget != '' && OfferCode != '' && State != '' && message != '' && PlannedCost != '' && ActualCost != '') {
                        theTbl.rows[i].cells[1].innerHTML = parent;
                        theTbl.rows[i].cells[2].innerHTML = Channel;
                        theTbl.rows[i].cells[3].innerHTML = subtype;
                        theTbl.rows[i].cells[4].innerHTML = Incentive;
                        theTbl.rows[i].cells[5].innerHTML = Creative;
                        theTbl.rows[i].cells[6].innerHTML = PhoneNo;
                        theTbl.rows[i].cells[7].innerHTML = Landing_Page;
                        theTbl.rows[i].cells[8].innerHTML = Budget;
                        theTbl.rows[i].cells[9].innerHTML = OfferCode;
                        theTbl.rows[i].cells[10].innerHTML = State;
                        theTbl.rows[i].cells[11].innerHTML = message;
                        theTbl.rows[i].cells[12].innerHTML = PlannedCost;
                        theTbl.rows[i].cells[13].innerHTML = ActualCost;
                        var el = document.getElementById("parent");
                        el.selectedIndex = 0;
                        var el1 = document.getElementById("Channel");
                        el1.selectedIndex = 0;
                        var el2 = document.getElementById("subtype");
                        el2.selectedIndex = 0;
                        var el3 = document.getElementById("Incentive");
                        for (var l = 0; l < el3.options.length; l++) {
                            if (el3.options[l].text == "Select") {
                                el3.selectedIndex = l;
                                break;
                            }
                        }
                        var el4 = document.getElementById("Creative");
                        for (var m = 0; m < el4.options.length; m++) {
                            if (el4.options[m].text == "Select") {
                                el4.selectedIndex = m;
                                break;
                            }
                        }
                        var el5 = document.getElementById("PhoneNo");
                        for (var n = 0; n < el5.options.length; n++) {
                            if (el5.options[n].text == "Select") {
                                el5.selectedIndex = n;
                                break;
                            }
                        }
                        var el6 = document.getElementById("LandingPage");
                        for (var o = 0; o < el6.options.length; o++) {
                            if (el6.options[o].text == "Select") {
                                el6.selectedIndex = o;
                                break;
                            }
                        }
                        var el7 = document.getElementById("State");
                        for (var p = 0; p < el7.options.length; p++) {
                            if (el7.options[p].text == "Select") {
                                el7.selectedIndex = p;
                                break;
                            }
                        }
                        $("#County option").prop("selected", false);
                        $("#County").trigger("chosen:updated");
                        $("#campfields_Budget").val("");
                        $("#campfields_PlannedCost").val("");
                        $("#campfields_ActualCost").val("");
                        $("#campfields_OfferCode").val("");

                        $("#btncreatesubcampaign").show();
                        $("#btnupdatesubcampaign").hide();
                    } else {
                        sweetAlert("Please fill all the fields.");
                    }
                }
            }


        });


    </script>

    <script src="~/assets/scripts/chosen.jquery.js" type="text/javascript"></script>
    <script src="~/assets/scripts/prism.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width': { width: "100%" }
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
    </script>

    @RenderSection("MyScripts", required:false)
    <!-- END JAVASCRIPTS -->


    <script>
    setTimeout(function () {
        $.ajax({
            type: "POST",
            //url: "../home/LoadTypes",
            url: '@Url.Action("LoadTypes", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                barjsonArray = JSON.parse(JSON.stringify(data));
                UITree.init();
                $('#tree_3').jstree('open_all');
            }, error: function (xhr, status, error) {
               alert(xhr.responseText);
            }

        });

    }, 1500);
    </script>



</body>
</html>
