﻿<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: for circle icon style menu apply page-sidebar-menu-circle-icons class right after sidebar-toggler-wrapper -->
        <ul id="sidebarmenu" class="page-sidebar-menu">
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"> </div>
                <div class="clearfix"> </div>
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="sidebar-search-wrapper">
                <form class="search-form" role="form" action="index.html" method="get">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control" name="query" placeholder="Search...">
                    </div>
                </form>
            </li>
            <li class="active"> <a href='@Url.Action("home", "Home")'>
                 <i class="icon-home"></i>
                 <span class="title">Dashboard</span> 
                <span class="selected"></span>
                 </a> 
            </li>
        
       
             @*<li id="reportsmenu">                
                 <a href="javascript:;"><i class="icon-docs"></i> <span class="title">Reports</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">                    
                    <li><a href='@Url.Action("SpecificCampaignDetails", "home")'><i class="icon-docs"></i> <span class="title">Campaign Details</span> </a></li>
                </ul>
            </li>*@

            <li>
                <a href='@Url.Action("CampaignDetails", "home")'><i class="fa fa-calendar"></i> <span class="title">Manage Campaign</span> </a>
            </li>

            <li>
                <a href='@Url.Action("CreateCampaign", "home")'><i class="fa fa-plus-circle"></i> <span class="title">Create Campaign</span> </a>

            </li>

            @*<li >
                <a href="javascript:;"> <i class="icon-calendar"></i> <span class="title">Manage</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    <li> @Html.ActionLink("Manage Campaign", "CampaignDetails") </li>
                    <li> @Html.ActionLink("Create Campaign", "CreateCampaign") </li>
                </ul>
            </li>*@
            <li>               
                <a href="javascript:;"><i class="fa fa-user"></i> <span class="title">Administration</span> <span class="arrow"></span> </a>
                <ul class="sub-menu">
                    
                    <li><a href='@Url.Action("Hierarchy", "home")'><i class="fa fa-sitemap"></i> <span class="title">Hierarchy</span> </a></li>
                    <li><a href='@Url.Action("AddIncentive", "home")'><i class="fa fa-dollar"></i> <span class="title">Incentive</span> </a></li>
                    <li><a href='@Url.Action("AddCreative", "home")'><i class="fa fa-trophy"></i> <span class="title">Creative</span> </a></li>
                    <li><a href='@Url.Action("AddOffercode", "home")'><i class="fa fa-money"></i> <span class="title">Phone Number</span> </a></li>
                    <li><a href='@Url.Action("AddLandingpage", "home")'><i class="fa fa-unlink"></i> <span class="title">Landing Page URL</span> </a></li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<script src="~/Scripts/jquery.min.js" type="text/javascript"></script>

<script>
    function op(chref)
    {
        window.location.href = chref;
        $('#reportsmenu').addClass('open');
    }

    $(function () {
        var path = window.location.href;
        var fileNameIndex = path.lastIndexOf("/") + 1;
        var filename = path.substr(fileNameIndex);
        $("#sidebarmenu li a").each(function () {
            var href = $(this).attr('href');
            var index = href.lastIndexOf("/") + 1;
            if (filename == href.substr(index)) {
                $("#sidebarmenu li").removeClass("active");
                $(this).closest("li").addClass("active");
                $(this).closest('ul').closest('li').addClass('active');
                $(this).closest('ul').closest('li').find('span.arrow').addClass('open');
            }
        });
    });
</script>
