﻿<div class="row stats-overview-cont">
    <div class="icon_div text-center">
        <div class="col-xs-12 col-sm-3 col-md-2 co">
            <img alt="Icon-1" src="~/assets/img/icon-1.png">
            <h5>Direct Mail</h5>
            @if (ViewBag.Directcount != null)
            {
                <h3 class="count"> @ViewBag.Directcount </h3>
            }
            else
            {
                <h3 class="count">0</h3>
            }               
        </div>
        <div class="ccol-xs-12 col-sm-3 col-md-2">
            <img alt="Icon-2" src="~/assets/img/icon-2.png">
            <h5>TV</h5>
            @if (ViewBag.TVcount != null)
            {
                <h3 class="count">@ViewBag.TVcount</h3>
            }
            else
            {
                <h3 class="count">0</h3>
            }             
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
            <img alt="Icon-3" src="~/assets/img/icon-3.png">
            <h5>Radio</h5>
            @if (ViewBag.Radiocount != null)
            {
                <h3 class="count"> @ViewBag.Radiocount </h3>
            }
            else
            {
                <h3 class="count">0</h3>
            }             
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
            <img alt="Icon-4" src="~/assets/img/icon-4.png">
            <h5>News Paper</h5>
            @if (ViewBag.Newspapercount != null)
            {
                <h3 class="count">@ViewBag.Newspapercount</h3>
            }
            else
            {
                <h3 class="count">0</h3>
            }           
        </div>
        @*<div class="col-xs-12 col-sm-3 col-md-1">
            <img alt="Icon-4" src="~/assets/img/paid-search.png">
            <h5>Paid Social</h5>
            <h3 class="count">@ViewBag.PaidSocialcount</h3>
        </div>*@
        <div class="col-xs-12 col-sm-3 col-md-2">
            <img alt="Icon-6" src="~/assets/img/paid-social.png">
            <h5>Paid Search</h5>
            @if (ViewBag.PaidSearchcount != null)
            {
                <h3 class="count">@ViewBag.PaidSearchcount</h3>
            }
            else
            {
                <h3 class="count">0</h3>
            }            
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2">
            <img alt="Icon-5" src="~/assets/img/icon-5.png">
            <h5>Others</h5>
            @if (ViewBag.Otherscount != null)
            {
                <h3 class="count"> @ViewBag.Otherscount </h3>
            }
            else
            {
                <h3 class="count">0</h3>
            } 
            
        </div>
    </div>
</div>
