@charset "utf-8";
/* CSS Document */


.breadcrumb {
	background: none;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.breadcrumb>li {
	text-transform: uppercase;
	color: #616161;
	margin-left: 8px;
	font-size: 0.875em;
}
.breadcrumb>li span {
	padding-left: 8px;
}
.breadcrumb>li a {
	color: #616161;
}
.breadcrumb>li+li:before {
	color: #616161;
	font-family: FontAwesome;
	content: "\f105";
}
.breadcrumb>.active {
	font-weight: 600;
	text-transform: none;
	color: #616161;
}
.breadcrumb>li:first-child {
	margin-left: 0;
}
 h1 {
    color: #db7b1d;
}

h1 {
    clear: both;
    font-size: 2em;
    margin: 0 0 20px;
    padding-left: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
}

/*======== Main box===========*/
 .main-box {
    border: 1px solid #e7ebee;
}
.main-box {
	background: #FFFFFF;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 16px;
	border-radius: 3px;
	background-clip: padding-box;
}

@media (max-width: 767px) {
.main-box {
	margin-bottom: 10px;
}
}
.main-box h2 {
	font-size: 1.3em;
	line-height: 29px;
	margin: 0;
	padding: 0;
}

@media (max-width: 419px) {
.main-box h2 {
	margin-bottom: 5px;
}
}
.main-box.no-header {
	padding-top: 20px;
}
.main-box .main-box-header {
	min-height: 50px;
	padding: 10px 20px;
}
.main-box .main-box-header.with-border {
	border-bottom: 1px solid #ecf0f1;
}
.main-box .main-box-body {
	padding: 0 20px 20px 20px;
}
h3 {
    border-bottom: 2px solid #b0bec5;
    font-size: 1.4em;
    margin-bottom: 15px;
    margin-top: 30px;
    padding-left: 5px;
}
h3 > span {
    border-bottom: 2px solid #b0bec5;
    display: inline-block;
    padding: 0 5px 5px;
}
.form-control {
    background-clip: padding-box;
    border-color: #e7ebee;
    border-radius: 3px;
    border-width: 2px;
    box-shadow: none;
    font-size: 13px;
}
.form-control {
    background-color: #fff;
    background-image: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control:focus {
    border-color: rgba(52, 151, 219, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(52, 152, 219, 0.6);
    outline: 0 none;
}
/*======================== Infographic box ====================================*/

.infographic-box {
    padding: 20px;
}

.infographic-box i {
    background-clip: padding-box;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: 2.4em;
    height: 60px;
    line-height: 60px;
    margin-right: 15px;
    text-align: center;
    width: 60px;
}
.green-bg {
    background-color: #8bc34a !important;
}
.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    text-align: right;
}
.infographic-box .value {
    display: block;
    font-size: 2.1em;
    font-weight: 600;
    margin-top: -5px;
    text-align: right;
}
.infographic-box .value a{color: #212121;}
.infographic-box .value a:hover{color:#03a9f4}
.infographic-box .value {
    font-size: 2.1em;
    font-weight: 600;
    text-align: right;
}
.infographic-box.merged {
    border-right: 2px solid #e7ebee;
    border-top: 2px solid #e7ebee;
    width: 50%;
}
@media (max-width: 767px) {
.infographic-box.merged {
    border-right: medium none;
    width: 100%;
}
}
.infographic-box.merged .headline {
    font-size: 0.8em;
    font-weight: 600;
    margin-top: -2px;
    text-align: left;
    text-transform: uppercase;
}
.infographic-box.merged .value {
    font-size: 1.8em;
    font-weight: 400;
    margin-top: 2px;
    text-align: left;
}
.infographic-box.merged.merged-top {
    border-top: medium none;
}
.infographic-box.merged.merged-right {
    border-right: medium none;
}
@media (max-width: 767px) {
.infographic-box.merged.merged-top.merged-right {
    border-top: 1px solid #e7ebee;
}
}
.infographic-box.colored {
    border: 0 none !important;
    color: #fff;
}
.infographic-box.colored i {
    color: #fff;
    font-size: 4.6em;
    margin-left: 7px;
}
.infographic-box.colored .headline {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 4px;
}
/*================ Buttons ========================*/
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-clip: padding-box;
    border-color: -moz-use-text-color;
    border-image: none;
    border-radius: 3px;
    border-style: none none solid;
    border-width: medium medium 2px;
    outline: medium none;
    padding: 6px 12px;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}
.btn-lg, .btn-group-lg > .btn {  
    font-size: 15px;
    line-height: 1.33;  
}
.btn-default, .wizard-cancel, .wizard-back {
    background-color: #90a4ae;
    border-color: #607d8b;
    color: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .wizard-cancel:hover, .wizard-cancel:focus, .wizard-cancel:active, .wizard-cancel.active, .wizard-back:hover, .wizard-back:focus, .wizard-back:active, .wizard-back.active {
    background-color: #949e9f;
    border-color: #748182;
    color: #fff;
}
.btn-primary {
    background-color: #03a9f4;
    border-color: #2980b9;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #2980b9;
    border-color: #1c5c87;
}
.btn-default .caret {
    border-top-color: #ffffff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #607d8b;
    border-color: #5c6667;
}
 .btn-success {
    background-color: #03a9f4;
    border-color: #2980b9;
}
 .btn-success:hover, .btn-success:focus,  .btn-success:active,  .btn-success.active,  .open .dropdown-toggle.btn-success {
    background-color: #2980b9;
    border-color: #1c5c87;
}

/*=================== Footer bar============================*/
#footer-bar {
	background: #fff;
	border-top: 1px solid #e7ebee;
	bottom: 0;
	font-size: 0.8em;
	height: 37px;
	line-height: 36px;
	margin-left: -15px;
	margin-right: -15px;
	position: absolute;
	width: 100%;
}

@media (max-width: 767px) {
#footer-bar {
	margin-left: -8px;
	margin-right: -8px;
}
}

@media (max-width: 419px) {
#footer-bar {
	margin-left: -5px;
	margin-right: -5px;
}
}
#footer-copyright {
	text-align: center;
	margin: 0;
}
#footer-bar {
	bottom: 0;

	margin: 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index:999 ;
}
/*================== Labels =====================*/
label {
    font-size: 0.8em;
    font-weight: 400;
}
label {
    display: inline-block;  
    margin-bottom: 5px;
    max-width: 100%;
}
.input-group .input-group-addon {
    background: transparent none repeat scroll 0 0;
	color:#555;
	border-color: #e7ebee;
    border-width: 2px;
}