﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Saleshub Dashboard</title>
    <!--external css-->
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/assets/img/shortcuticon.ico" type="image/x-icon">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="~/assets/css/style_olddpav.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style-conquer.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/to-do.css">
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .site-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 30px;
        }

        .username {
            margin: 25px 15px 0 0;
            color: grey;
        }
    </style>
</head>
<body>
    <section id="container">
        <!--header start-->
        <header class="header black-bg">
            <div>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars tooltips" data-placement="left" data-original-title="Toggle Navigation"></div>
                </div>
                <div class="page-logo">
                    <a class="logo"><img src="~/includes/image/sunhublogo.png" height="60px;" /></a>
                </div>
                <!--<div style="padding-top:0.4cm;font-size: 34px;color:black;font-family: Times New Roman, Times, serif;text-align: center;font-weight: 600;"> Saleshub Dashboard
                </div>-->
                <div style="padding-top:0.4cm;font-size: 34px;color:black;font-family: Times New Roman, Times, serif;text-align: center;font-weight: 600;">
                    Sales Reporting Dashboard
                </div>

                <div class="top-menu" style="margin-top:-60px;">
                    <ul class="nav pull-right top-menu">
                        <!--<li class="username"><?php echo $name; ?></li>-->
                        <li><a class="logout" href='@Url.Action("Login")'>Logout</a></li>
                        <!--<li class="dropdown user"> <a href="#" class="" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> <span class="username"><?php echo $name; ?><i class="fa fa-angle-down"></i></span> </a>
                        <ul class="dropdown-menu">
                          <li> <a href="<?php echo BASE_PATH; ?>/logout.php"><i class="fa fa-key"></i> Log Out</a> </li>
                        </ul>
                        </li>-->
                    </ul>
                </div>
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        @{
            var pageName = ViewContext.RouteData.Values["action"].ToString();
            var charts = "0";
            var reports = "0";
            ViewData["sessionString"] = System.Web.HttpContext.Current.Session["sessionString"] as String;
            if((pageName== "CurrentMonthSummary")|| (pageName == "MonthlySummary") || (pageName == "DailySummary") || (pageName == "WebLeadTrend"))
            {
                charts = "1";
                reports = "0";
            }
            else if ((pageName == "ReportsAll") || (pageName == "CallCenterReports") || (pageName == "WebEnrollment") || (pageName == "WebCampaigns"))
            {
                reports = "1";
                charts = "0";
            }
        }
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <p class="centered"><a><img src="~/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                    <h5 class="centered">@ViewData["sessionString"]</h5>

                    <li class="mt @(pageName == "Home" ? "active" : "")">
                        <a class="@(pageName == "Home" ? "active" : "")" href='@Url.Action("Home")'>
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <!--<li class="sub-menu">
                    <a class="<?php echo $import;?>" href="<?php echo BASE_PATH?>/design/import.php" >
                        <i class="fa fa-cogs"></i>
                        <span>Import</span>
                    </a>
                </li>-->

                    <li class="sub-menu @(charts == "1" ? "active":"")">
                        <a href='@Url.Action("WebLeadTrend")' class="@(charts == "1" ? "active":"")">
                            <i class="fa fa-th"></i>
                            <span>Charts</span>

                        </a>

                        <ul class="sub">
                            <li class="@(pageName == "WebLeadTrend" ? "active" : "")"><a href='@Url.Action("WebLeadTrend")'>Web Lead Trend</a></li>
                            <li class="@(pageName == "CurrentMonthSummary" ? "active" : "")"><a href='@Url.Action("CurrentMonthSummary")'>Current Month Summary</a></li>
                            <li class="@(pageName == "MonthlySummary" ? "active" : "")"><a href='@Url.Action("MonthlySummary")'>Monthly Summary</a></li>
                            <li class="@(pageName == "DailySummary" ? "active" : "")"><a href='@Url.Action("DailySummary")'>Daily Summary</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu @(reports == "1" ? "active":"")">
                        <!--<a href="<?php echo BASE_PATH ?>/design/reports_call.php" class="<?php echo $report_web ?>">
                        <span>Reports</span>
                    </a>-->
                        <a href='@Url.Action("ReportsAll")' class="@(reports == "1" ? "active":"")" >
                            <i class="fa fa-th"></i>
                            <span>Reports</span>
                        </a>
                        <ul class="sub">
                            <li class="@(pageName == "ReportsAll" ? "active" : "")"><a href='@Url.Action("ReportsAll")'>All Channels</a></li>
                            <li class="@(pageName == "CallCenterReports" ? "active" : "")"><a href='@Url.Action("CallCenterReports")'>Call Center</a></li>
                            <li class="@(pageName == "WebEnrollment" ? "active" : "")"><a href='@Url.Action("WebEnrollment")'>Web Enrollment</a></li>
                            <li class="@(pageName == "WebCampaigns" ? "active" : "")"><a href='@Url.Action("WebCampaigns")'>Web Campaigns</a></li>
                        </ul>
                    </li>

                    @*<li class="sub-menu setting_status">
                        <a class="setting_status" href="~/design/reports_status.php">
                            <i class="fa fa-book"></i>
                            <span>Settings</span>
                        </a>
                        <ul class="sub">
                            <li class="reports_status"><a href="~/design/reports_status.php">Contract Status</a></li>
                        </ul>
                    </li>*@
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>

        @*@Html.Action("Menu", "Reporting")*@

        @RenderBody()
        @*<script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

        </script>*@
    </section>
</body>
</html>
