﻿@model SunhubReporting.Models.ReportingModels
@{
    for (int i = 0; i < Model.dtWebEnrollment.Rows.Count; i++)
    {
        var createDate = Model.dtWebEnrollment.Rows[i]["CreateDate"].ToString();
        var src = Model.dtWebEnrollment.Rows[i]["Source"].ToString();
        var srid = Model.dtWebEnrollment.Rows[i]["SalesRepID"].ToString();
        var mid = Model.dtWebEnrollment.Rows[i]["MemberShipID"].ToString();
        var callcenter = Model.dtWebEnrollment.Rows[i]["CallCenter"].ToString();
        var updateDate = Model.dtWebEnrollment.Rows[i]["UpdatedDate"].ToString();
        var updateBy = Model.dtWebEnrollment.Rows[i]["UpdatedBy"].ToString();
        var fname = Model.dtWebEnrollment.Rows[i]["First Name"].ToString();
        var lname = Model.dtWebEnrollment.Rows[i]["Last Name"].ToString();
        var email = Model.dtWebEnrollment.Rows[i]["Email ID"].ToString();
        var mobile = Model.dtWebEnrollment.Rows[i]["Mobile"].ToString();
        var addres = Model.dtWebEnrollment.Rows[i]["Address"].ToString();
        var ulaccount = Model.dtWebEnrollment.Rows[i]["Utility Account No"].ToString();
        var camp = Model.dtWebEnrollment.Rows[i]["Campaign"].ToString();
        var cit = Model.dtWebEnrollment.Rows[i]["City"].ToString();
        var sta = Model.dtWebEnrollment.Rows[i]["State"].ToString();
        var coun = Model.dtWebEnrollment.Rows[i]["County"].ToString();
        var zip = Model.dtWebEnrollment.Rows[i]["ZipCode"].ToString();
        var statnam = Model.dtWebEnrollment.Rows[i]["Status"].ToString();
        var signDate = Model.dtWebEnrollment.Rows[i]["Signed Date"].ToString();

        <tr>
            <td>@createDate</td>
            <td>@src</td>
            <td>@srid</td>
            <td>@mid</td>
            <td>@callcenter</td>
            <td>@updateDate</td>
            <td>@updateBy</td>
            <td>@fname</td>
            <td>@lname</td>
            <td>@email</td>
            <td>@mobile</td>
            <td>@addres</td>
            <td>@ulaccount</td>
            <td>@camp</td>
            <td>@cit</td>
            <td>@sta</td>
            <td>@coun</td>
            <td>@zip</td>
            <td>@statnam</td>
            <td>@signDate</td>
        </tr>
    }
}
