﻿@model SunhubReporting.Models.ReportingModels
    <script type="text/javascript">
        @*Highcharts.setOptions({
            colors: ['#483D8B','#228B22','#cccc00','#DF435A']
        });

        $('#container5').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Contracts Signed/Unsigned/Declined & Leads Saved Monthly Summary'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
                ],
                crosshair: true,
                title: {
                    text: 'Months - @DateTime.Now.Year'
                }
            },
            credits: {
                enabled: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Counts'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                //pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                //'<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    //pointPadding: 0.2,
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Contracts Declined',
                data: [
                     @for( int i=0; i<Model.Channel2.Count; i++)
                     {<text> @Model.Channel2[i].ToString() @if (Model.Channel2.Count-1==i){}else{ @:,
                           }
                           </text>
                    }
            ]}, {
                name: 'Contracts Signed',
                data: [
                     @for( int i=0; i<Model.Channel1.Count; i++)
        { <text> @Model.Channel1[i]  @if (Model.Channel1.Count-1==i){}else{ @:,
                }
</text>
        }
    ]

            }, {
                name: 'Contracts Unsigned',
                data: [
                     @for( int i=0; i<Model.Channel3.Count; i++)
        { <text> @Model.Channel3[i]  @if (Model.Channel3.Count-1==i) {}else{ @:,
                         }
                         </text>
        }
    ]

            }, {
                name: 'Leads Saved',
                data: [
                     @for( int i=0; i<Model.Channel4.Count; i++)
        {  <text> @Model.Channel4[i]   @if(Model.Channel4.Count-1==i) { }else{@:,
                     }
</text>
        }
    ]

            }]
        });*@
        $(function () {
            Highcharts.setOptions({
                colors: ['#483D8B', '#228B22', '#cccc00', '#DF435A']
            });
        Highcharts.chart('containernew', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Contracts Signed/Unsigned/Declined & Leads Saved Monthly Summary'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'May',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dec'
                ],
                crosshair: true,
                title: {
                    text: 'Months - @DateTime.Now.Year'
                }
            },
            credits: {
                enabled: false
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Counts'
                }
            },
          tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +'<td style="padding:0"><b>{point.y} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0,
                    colors: ['#483D8B', '#228B22', '#cccc00', '#DF435A']

                }
               
            },
             series: [{
                name: 'Contracts Declined',
                data: [
                     @for( int i=0; i<Model.Channel2.Count; i++)
        {<text> @Model.Channel2[i].ToString() @if (Model.Channel2.Count-1==i){}else{ @:,
        }
            </text>
        }
    ]}, {
        name: 'Contracts Signed',
        data: [
             @for( int i=0; i<Model.Channel1.Count; i++)
    { <text> @Model.Channel1[i]  @if (Model.Channel1.Count-1==i){}else{ @:,
                }
        </text>
    }
    ]

    }, {
    name: 'Contracts Unsigned',
        data: [
             @for( int i=0; i<Model.Channel3.Count; i++)
    { <text> @Model.Channel3[i]  @if (Model.Channel3.Count-1==i) {}else{ @:,
                         }
        </text>
    }
    ]

    }, {
    name: 'Leads Saved',
        data: [
             @for( int i=0; i<Model.Channel4.Count; i++)
    {  <text> @Model.Channel4[i]   @if(Model.Channel4.Count-1==i) { }else{@:,
                     }
        </text>
    }
    ]

    }]

        });
        });

      
</script>