﻿@model SunhubReporting.Models.ReportingModels
    @{
            for (int i = 0; i < Model.dtAllReports.Rows.Count; i++)
            {
                var createDate = Model.dtAllReports.Rows[i]["CreateDate"].ToString();
                var salerep = Model.dtAllReports.Rows[i]["CreatedSalesRep"].ToString();
                var callcenter = Model.dtAllReports.Rows[i]["CallCenter"].ToString();
                var updateDate = Model.dtAllReports.Rows[i]["UpdatedDate"].ToString();
                var updateBy = Model.dtAllReports.Rows[i]["UpdatedBy"].ToString();
                var updatedcall=Model.dtAllReports.Rows[i]["UpdatedCallCenter"].ToString();
                var fname= Model.dtAllReports.Rows[i]["First Name"].ToString();
                var lname= Model.dtAllReports.Rows[i]["Last Name"].ToString();
                var email= Model.dtAllReports.Rows[i]["Email ID"].ToString();
                var mobile= Model.dtAllReports.Rows[i]["Mobile"].ToString();
                var addres= Model.dtAllReports.Rows[i]["Address"].ToString();
                var ulaccount = Model.dtAllReports.Rows[i]["Utility Account No"].ToString();
                var camp = Model.dtAllReports.Rows[i]["Campaign"].ToString();
                var cit = Model.dtAllReports.Rows[i]["City"].ToString();
                var sta=  Model.dtAllReports.Rows[i]["State"].ToString();
                var coun = Model.dtAllReports.Rows[i]["County"].ToString();
                var zip= Model.dtAllReports.Rows[i]["ZipCode"].ToString();
                var statnam = Model.dtAllReports.Rows[i]["Status"].ToString();          
                var signDate= Model.dtAllReports.Rows[i]["Signed Date"].ToString();
                var enve = Model.dtAllReports.Rows[i]["Envelope"].ToString();
                var leadsrc= Model.dtAllReports.Rows[i]["LeadSource"].ToString();
                var refby = Model.dtAllReports.Rows[i]["ReferredBy"].ToString();
            <tr>
                <td>@createDate</td>
                <td>@salerep</td>
                <td>@callcenter</td>
                <td>@updateDate</td>
                <td>@updateBy</td>
                <td>@updatedcall</td>
                <td>@fname</td>
                <td>@lname</td>
                <td>@email</td>
                <td>@mobile</td>
                <td>@addres</td>
                <td>@ulaccount</td>
                <td>@camp</td>
                <td>@cit</td>
                <td>@sta</td>
                <td>@coun</td>
                <td>@zip</td>
                <td>@statnam</td>
                <td>@signDate</td>
                <td>@enve</td>
                <td>@leadsrc</td>
                <td>@refby</td>
            </tr>
        }
    }