﻿@model SunhubReporting.Models.ReportingModels
<script type="text/javascript">

    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });


    //Contract Signed/Unsigned & Leads Saved – Daily Summary
    $('#dailychart').highcharts({
        chart: {
            type: 'column',
        },
        title: {
            text: 'Contracts Signed/Unsigned – Daily Summary',
            x: -20 //center
        },
        /* subtitle: {
            text: 'Source: WorldClimate.com',
            x: -20
        } ,*/
        xAxis: {
        categories: [
                 @for( int i=0; i<Model.DateList.Count; i++)
{<text> @Model.DateList[i].ToString() @if (Model.DateList.Count-1==i){}else{ @:,
        }
    </text>
}
],
            title: {
                text: '@Model.MonthValue'
            }
        },
        credits:
		{
		    enabled: false
		},
        /* yAxis: {
            title: {
                text: 'Counts'
            },
			//min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        }, */
        yAxis: {
            min: 0,
            title: {
                text: 'Counts'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'center',
            x: 30,
            verticalAlign: 'bottom',
            y: 10,
            floating: false,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            valueSuffix: ''
        },
        /* legend: {
            layout: 'horizontal',
            //align: 'top',
            verticalAlign: 'bottom',
            borderWidth: 0
        }, */
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            },
            row: {
                colorByPoint: true
            }
        },
        colors: [
				'#e6e600',
				'#228B22'
        ],
        series: [{
            name: 'Contracts Unsigned',
            data: [
                     @for( int i=0; i<Model.ChannelDaily2.Count; i++)
    {<text> @Model.ChannelDaily2[i].ToString() @if (Model.ChannelDaily2.Count-1==i){}else{ @:,
        }
        </text>
    }
    ]
        }, {
            name: 'Contracts Signed',
            data: [
                     @for( int i=0; i<Model.ChannelDaily1.Count; i++)
    {<text> @Model.ChannelDaily1[i].ToString() @if (Model.ChannelDaily1.Count-1==i){}else{ @:,
        }
        </text>
    }
    ]
        }]
    });

</script>
