﻿@model  SunhubReporting.Models.ReportingModels
<script type="text/javascript">
    Highcharts.setOptions({
        colors: ['#F6BB6B', '#7CB5EC', '#ff8080', '#00cc99', '#3366cc', '#ff6600', '#80ff80', '#cc00ff', '#6600cc', '#d27979', '#666633', '#00cccc', '#ccffff', '#e6e600', '#660066', '#669999', '#ff8533', '#ffbb99', '#0080ff', '#8080ff', '#ff5c33', '#00aaff', '#ff99c2', '#3385ff']
    });
    Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
        return {
            radialGradient: {
                cx: 0.5,
                cy: 0.3,
                r: 0.7
            },
            stops: [
                [0, color],
                [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
            ]
        };
    });
    $('#linechart').highcharts({
        chart: {
            type: 'line',
            heigth: 200
            //marginRight: 130,
            // marginBottom: 70

        },
        title: {
            text: 'Web Campaigns – Daily Summary',
            x: -20 //center
        },

        xAxis: {
            categories: [
                 @for( int i=0; i<Model.list_dates.Count; i++)
{<text> '@Model.list_dates[i].ToString()' @if (Model.list_dates.Count-1==i){}else{ @:,
            }
        </text>
}
            ],
            title: {
                //text: 'January'
                text: ''
            },
            type: 'datetime', labels: { rotation: -40 }
        },
        credits:
		{
		    enabled: false
		},
        yAxis: {
            title: {
                text: 'Counts'
            },
            //min: 0,
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'horizontal',
            //align: 'top',
            verticalAlign: 'bottom',
            borderWidth: 0
        },
        series: [

            @for(int i=0;i<Model.campaignNames.Count;i++)
            {

                <text>
            {

                name: '@Model.campaignNames[i].ToString()',
                data: [
                    @{
                        int k = 0;
                            }
                    @for(int j=0; j< Model.list_webcampaign.Count;j++)
                    {
                        if(@Model.list_webcampaign[j].Name==@Model.campaignNames[i])
                        {
                            k = k + 1;
                        <text>
                        @Model.list_webcampaign[j].Count,
                       
                        </text>
                        }
                    }
                ]
            }
                @if (Model.campaignNames.Count-1==i){}else{ @:,
                        }</text>
            }
        ]
    });
</script>

@*@Model.templist=@Model.list_webcampaign.Select(k => k.Name = @Model.campaignNames[i].ToString());*@