﻿@model SunhubReporting.Models.ReportingModels
@{
    for (int i = 0; i < Model.dtWebCampaigns.Rows.Count; i++)
    {
        var id = Model.dtWebCampaigns.Rows[i]["ID"].ToString();
        var fname = Model.dtWebCampaigns.Rows[i]["FirstName"].ToString();
        var lname = Model.dtWebCampaigns.Rows[i]["LastName"].ToString();
        var email = Model.dtWebCampaigns.Rows[i]["Email"].ToString();
        var mobile = Model.dtWebCampaigns.Rows[i]["Phone"].ToString();
        var sta = Model.dtWebCampaigns.Rows[i]["State"].ToString();
        var coun = Model.dtWebCampaigns.Rows[i]["County"].ToString();
        var createdate= Model.dtWebCampaigns.Rows[i]["CreatedDate"].ToString();
        <tr>
            <td>@id</td>
            <td>@fname</td>
            <td>@lname</td>
            <td>@email</td>
            <td>@mobile</td>
            <td>@sta</td>
            <td>@coun</td>
            <td>@createdate</td>
        </tr>
    }
}
