﻿@model SunhubReporting.Models.ReportingModels

<div class="panel-body text-center">
    <span>Total Count From <lable id="fromdat">@DateTime.Now.Month/01/@DateTime.Now.Year</lable> To <lable id="todat">@DateTime.Now.Month/@DateTime.Now.Day.ToString("00")/@DateTime.Now.Year</lable> : @Model.WebCampaignCount</span>
</div>
<div class="panel-body text-center" id="tablediv">
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                @for (int i = 0; i < Model.dtWebCampaigns.Columns.Count; i++)
            {
                    <text>
                        <th style="font-size:13px;">@Model.dtWebCampaigns.Rows[0][i].ToString()</th>
                    </text>
                }
            </tr>
        </thead>
        <tbody id="tablebody">
            @{
                for (int i = 1; i < Model.dtWebCampaigns.Rows.Count - 1; i++)
                {
                    <tr>
                        @for (int j = 0; j < Model.dtWebCampaigns.Columns.Count; j++)
                        {
                            <td>@Model.dtWebCampaigns.Rows[i][j].ToString()</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="panel-body text-center" id="tableshowerror" style="display:none;font-color:red">
    <b style="color:red">Please Select From Date and Todate</b>
</div>