﻿
@model  IEnumerable<Campaign.Models.AddCreative>

@{
    ViewBag.Title = "AddCreative";
    Layout = "~/Views/Shared/Main.cshtml";
}

@Html.Hidden("CreativeID")
@Html.Hidden("RowIndex")

@*old*@

< !-- BEGIN CONTAINER -->
@*<style type="text/css">
       .disableClick {
      pointer-events: none;
    }
    </style>*@
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    @Html.Partial("sidebarpartial")
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body"> Widget settings form goes here </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <h3 class="page-title">Creative</h3>
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Create Creative
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <button id="sample_editable_1_new" class="btn btn-success">
                                                Add New <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                <thead>
                                    <tr>
                                        <th>
                                            CreativeID
                                        </th>
                                        <th style="text-align:center;">
                                            Name
                                        </th>
                                        <th style="text-align:center;">
                                            Start Date
                                        </th>
                                        <th style="text-align:center;">
                                            End Date
                                        </th>
                                        <th style="text-align:center;">
                                            Upload
                                        </th>
                                        <th style="text-align:center;">
                                            Action
                                        </th>
                                        <th style="text-align:center;">
                                            Edit
                                        </th>
                                        <th style="text-align:center;">
                                            Delete
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.CreativeID)</td>
                                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.Name)</td>
                                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.StartDate)</td>
                                            <td style="text-align:center;">@Html.DisplayFor(modelItem => item.EndDate)</td>
                                           <td style="text-align:center; " ><a href="@Url.Content("http://"+Html.DisplayFor(modelItem => item.ImageURL).ToString())" target="_blank" >  @Html.DisplayFor(modelItem => item.Filepath)</a></td>

                                            @if (item.Active == "0")
                                            {
                                                <td style="text-align:center;">
                                                    <a style="color:#C9302C" href="#" data-toggle="modal" data-target="#DeleteCreativepopup"><i class="fa fa-times" title="Enable" data-toggle="tooltip" style="font-size: 22px; margin-top: 2px;"></i></a>

                                                </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center;">
                                                    <a style="color:#169F85" href="#" data-toggle="modal" data-target="#AddCreativepopup"><i class="fa fa-check" title="Disable" data-toggle="tooltip" style="font-size: 22px; margin-top: 2px;"></i></a>
                                                </td>
                                            }

                                            <td style="text-align:center;"><a href="#" class="edit">Edit</a></td>
                                            <td style="text-align:center;"><a href="#" id="delete" data-toggle="modal" data-target="#DeletePopup">Delete</a></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>

            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<div id="uploadImage" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    @*<div class="modal-dialog modal-sm" style="width:350px">*@
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Upload Image</h4>
        </div>
        @*@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {*@
        @*<form id="file-form" method="post">*@
        <div class="modal-body">
            <label class="control-label">Select your File</label>
            <input id="flupd" type="file" width="200px" warp class="btn btn-default file" name="file" />
        </div>
        <div class="modal-footer">
            <button id="sbmtupld" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            @*<input id="sbmtupld" type="submit" value="OK" class="btn btn-default" />*@
            @*<button id="sbmtupld" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>*@
        </div>
        @*</form>*@
        @*}*@
        @*</div>*@
    </div>
</div>


<!-- END CONTAINER -->
<div id="AddCreativepopup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

        </div>
        <div class="modal-body">
            Please confirm to Disable.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="Activate">Disable</button>
        </div>
    </div>

</div>

<div id="DeleteCreativepopup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            Please confirm to Enable.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="Deactivate">Enable</button>
        </div>
    </div>
</div>

<div id="DeletePopup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="DeleteYes">Yes</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="unblockUI();">No</button>
        </div>
    </div>
</div>

<div id="FromDateRestriction" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            Start Date Should be Lesser than or Equal to End Date.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<div id="ToDateRestriction" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            End Date Should be Greater than or Equal to Start Date.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>


