﻿@model  IEnumerable<Campaign.Models.LandingPage>

@{
    ViewBag.Title = "AddLandingpage";
    Layout = "~/Views/Shared/Main.cshtml";
}

@Html.Hidden("LandingID")
@Html.Hidden("LandingRowIndex")

<!-- BEGIN CONTAINER -->
<style>

    table tr td:nth-of-type(2) { /* Select the 3rd td */
  cursor: pointer;
}
</style>
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    @Html.Partial("sidebarpartial")
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body"> Widget settings form goes here </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <h3 class="page-title">Landing Page URL</h3>
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Create Landing Page URL
                            </div>

                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn-group">
                                            <button id="sample_Landing_editable_1_new" class="btn btn-success">
                                                Add New <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <table class="table table-striped table-hover table-bordered" id="sample_Landing_editable_1">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">
                                            LandingID
                                        </th>
                                        <th style="text-align:center;">
                                            Name
                                        </th>
                                        <th style="text-align:center;">
                                            Landing URL
                                        </th>
                                        <th style="text-align:center;">
                                            Start Date
                                        </th>
                                        <th style="text-align:center;">
                                            End Date
                                        </th>                                        
                                        <th style="text-align:center;">
                                            Action
                                        </th>
                                        <th class="edit" style="text-align:center;">
                                            Edit
                                        </th>
                                        <th class="delete" style="text-align:center;">
                                            Delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   @foreach (var item in Model)
                                   {
                                    <tr>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.LandingID)</td>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td style="text-align:center;  text-decoration:underline;  color:#428bca; ">@Html.DisplayFor(modelItem => item.LandingURL)</td>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.StartDate)</td>
                                        <td style="text-align:center;">@Html.DisplayFor(modelItem => item.EndDate)</td>

                                        @if (item.Active == "0")
                                        {
                                            <td style="text-align:center;">
                                                <a style="color:#C9302C" href="#" data-toggle="modal" data-target="#DeleteLandingpopup"><i class="fa fa-times" title="Enable" data-toggle="tooltip" style="font-size: 22px; margin-top: 2px;"></i></a>

                                            </td>
                                        }
                                        else
                                        {
                                            <td style="text-align:center;">
                                                <a style="color:#169F85" href="#" data-toggle="modal" data-target="#AddLandingpopup"><i class="fa fa-check" title="Disable" data-toggle="tooltip" style="font-size: 22px; margin-top: 2px;"></i></a>
                                                
                                            </td>
                                        }

                                        <td style="text-align:center;"><a href="#" class="edit">Edit</a></td>
                                        <td style="text-align:center;"><a href="#" id="delete" data-toggle="modal" data-target="#LandingDeletePopup">Delete</a></td>
                                    </tr>
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>

            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<!-- END CONTAINER -->
<div id="AddLandingpopup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

        </div>
        <div class="modal-body">
            Please Confirm to Disable.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="LandingActivate">Disable</button>
        </div>
    </div>

</div>

<div id="DeleteLandingpopup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            Please Confirm to Enable.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="LandingDeactivate">Enable</button>
        </div>
    </div>
</div>

<div id="LandingDeletePopup" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            Are you sure you want to delete?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="LandingDeleteYes">Yes</button>
            <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
        </div>
    </div>
</div>

<div id="FromDateRestriction" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            Start Date Should be Lesser than or Equal to End Date.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<div id="ToDateRestriction" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            End Date Should be Greater than or Equal to Start Date.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>
