﻿@model Campaign.Models.campaigndata
@{
    ViewBag.Title = "Campaign Details";
    Layout = "~/Views/Shared/Main.cshtml";
}

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    @Html.Partial("sidebarpartial")
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body"> Widget settings form goes here </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN STYLE CUSTOMIZER -->
            <!-- END BEGIN STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">Manage</h3>
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"> <i class="fa fa-edit"></i>Campaign Details</div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">   

                            </div>
                            <table class="table table-striped table-hover table-bordered" id="sample_editable_Manage">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td > Campaign Name </td>
                                        <td> Start Date </td>
                                        <td> End Date </td>
                                        <td> Planned Budget $</td>
                                        <td> Actual Budget $</td>
                                        @*<td> Parent Type </td>
                                        <td> Channel </td>
                                        <td> Sub Type </td>                                        
                                        <td> Incentive </td>
                                        <td> Creative </td>
                                        <td> OfferCode </td>
                                        <td> Landing Page </td>
                                        <td> Budget $</td>*@  
                                        <td> Campaign Status </td>
                                        @*<td> Sub Campaign Status </td>*@    
                                        <td>Action</td>                                
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
                                        for (int i = 0; i < Model.StoreAllData.Tables[0].Rows.Count; i++)
                                        {
                                            //var CampaignID = Model.StoreAllData.Tables[0].Rows[i]["CampaignID"].ToString();
                                            var CampaignName = Model.StoreAllData.Tables[0].Rows[i]["CampaignName"].ToString();
                                            var StartDate = Model.StoreAllData.Tables[0].Rows[i]["StartDate"].ToString();
                                            var EndDate = Model.StoreAllData.Tables[0].Rows[i]["EndDate"].ToString();
                                            var PlannedBudget = Model.StoreAllData.Tables[0].Rows[i]["PlannedBudget"].ToString();
                                            var ActualBudget = Model.StoreAllData.Tables[0].Rows[i]["Budget"].ToString();
                                            var isactive = Model.StoreAllData.Tables[0].Rows[i]["Isactive"].ToString();

                                            //var ParentType = Model.StoreAllData.Tables[0].Rows[i]["ParentType"].ToString();
                                            //var Channel = Model.StoreAllData.Tables[0].Rows[i]["Channel"].ToString();
                                            //var SubType = Model.StoreAllData.Tables[0].Rows[i]["SubType"].ToString();
                                            //var Incentive = Model.StoreAllData.Tables[0].Rows[i]["Incentive"].ToString();
                                            //var Creative = Model.StoreAllData.Tables[0].Rows[i]["Creative"].ToString();
                                            //var OfferCode = Model.StoreAllData.Tables[0].Rows[i]["OfferCode"].ToString();
                                            //var LandingPage = Model.StoreAllData.Tables[0].Rows[i]["LandingPageURL"].ToString();
                                            //var Budget = Model.StoreAllData.Tables[0].Rows[i]["Budget"].ToString();
                                            //var Sub_Isactive = Model.StoreAllData.Tables[0].Rows[i]["Sub_Isactive"].ToString();


                                            <tr>
                                                <td></td>
                                                <td> @CampaignName </td>                                               
                                                <td> @StartDate </td>
                                                <td> @EndDate </td>
                                                <td> @PlannedBudget </td>
                                                <td> @ActualBudget </td>
                                                @*<td> @ParentType </td>
                                                <td> @Channel </td>
                                                <td> @SubType </td>                                               
                                                <td> @Incentive </td>
                                                <td> @Creative </td>
                                                <td> @OfferCode </td> 
                                                <td> @LandingPage </td>
                                                <td> @Budget </td>*@
                                                <td align="center">
                                                    @{   if (@isactive == "False")
                                                        {
                                                            <a id="iconenablecampaign_inactive" style="color:#c9302c" href="#" data-toggle="modal" onclick="values('@CampaignName',0)" data-target="#enablecampaign">
                                                                <i id="iframeenablecampaign" class="fa fa-times" title="Enable Campaign" data-toggle="tooltip" style="font-size: 22px; margin-top: 2px;"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <i id="iframeenablecampaign_active" class="fa fa-check" title="Enable Campaign" data-toggle="tooltip" style="color:#169f85; font-size: 22px; margin-top: 2px;"></i>
                                                        }
                                                    }
                                                </td> 
                                                @*<td align="center">
                                                    @{   if (@Sub_Isactive == "False")
                                                        {
                                                            <a id="iconenablecampaign_inactive" style="color:#c9302c" href="#" data-toggle="modal" onclick="values(@CampaignID,1)" data-target="#enablecampaign">
                                                                <i id="iframeenablecampaign" class="fa fa-times" title="Enable Campaign" data-toggle="tooltip" style="font-size: 22px; margin-top: 2px;"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <i id="iframeenablecampaign_active" class="fa fa-check" title="Enable Campaign" data-toggle="tooltip" style="color:#169f85; font-size: 22px; margin-top: 2px;"></i>
                                                        }
                                                    }
                                                </td>*@
                                                <td>
                                                    <a href="@Url.Action("EDITCAMPAIGNDATA", "Home", new { id = Model.StoreAllData.Tables[0].Rows[i]["CampaignName"].ToString().Replace("/","~") })">
                                                        <i class="fa fa-edit" title="Edit Campaign" data-toggle="tooltip" style="font-size: 22px;margin-top: 2px;"></i>
                                                    </a>
                                                </td>
                                                
                                               
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                    @if (TempData["Success"] != null)
                    {
                        <div style="color:green;font-size:16px">
                            <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
                        </div>
                    }
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<div id="enablecampaign" class="modal fade" role="dialog" data-width="600">
    <div class="modal-dialog">
       
        <!-- Modal content-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enable Campaign</h4>
            </div>
            <div class="modal-body">
                <p>Please confirm to enable the campaign</p>
            </div>
            <div class="modal-footer">
                 <button id="btnenable" type="button" onclick="enablecampaingn()" class="btn btn-success" data-dismiss="modal">Enable</button>
                 <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

    </div>
</div>
<!-- END CONTAINERlas -->


<script>
    function enablecampaingn() {
        swal({
            title: "Enabled Successfully",
            type: "success",
            timer: 5000,
            showConfirmButton: false
        });
        setTimeout(function () {
            window.location.reload();
        }, 1500);

    }
$(function () {
        var table = $('#sample_editable_Manage').dataTable({
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
        });
});
 </script>

