﻿@using System.Web.UI.WebControls
@using Campaign.Controllers
@{
    ViewBag.Title = "CreateCampaign";
    Layout = "~/Views/Shared/Main.cshtml";
}

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    @Html.Partial("sidebarpartial")
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body"> Widget settings form goes here </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">Create Campaign</h3>
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
                    
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"> <i class="fa fa-reorder"></i>Create </div>

                        </div>
            @*@using (Html.BeginForm("CreateCampaign", "Home", FormMethod.Post))*@
            @*{*@

        <div class="portlet-body form create-form">
                            <form role="form">
                                <div class="form-body">
                                    <div id="first_form">
                                        <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-10">
                                            <label for="">Campaign Name</label>
                                            <input type="text" class="form-control" required onfocus="inputFocus(this)" onblur="inputBlur(this)" name="Name" id="Name" placeholder="">
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Start Date</label>
                                            <input type="text" id="Sdate" name="Sdate" placeholder="Start Date" required class="form-control" readonly>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">End Date</label>
                                            <input type="text" id="Edate" name="Edate" placeholder="End Date" required class="form-control" readonly>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Planned Budget $</label>
                                            <input type="text" class="form-control" id="PlannedBudget" name="Planned Budget" placeholder="">
                                        </div>
                                        <div class="clearfix"></div>
                                        </div>
                                    <div id="second_form" style="display:none;">
                                        @using (Html.BeginForm("CreateCampaign", "Home", FormMethod.Post))
                                        {
                                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Type</label>
                                            @Html.DropDownList("parent", (IEnumerable<SelectListItem>)ViewBag.parentType,"Select", new { @class = "btn btn-default dropdown-toggle", @onchange = "FillChannel()" })                                            
                                        </div>
                                        }
                                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Channel</label>
                                            @Html.DropDownList("Channel", (IEnumerable<SelectListItem>)ViewBag.channel, new { @class = "btn btn-default dropdown-toggle", @onchange = "FillSubType()" })                                            
                                        </div>
                                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Sub Type</label>
                                            @Html.DropDownList("subtype", (IEnumerable<SelectListItem>)ViewBag.subtype, new { @class = "btn btn-default dropdown-toggle"})                                                                                        
                                        </div>

                                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Incentive</label>
                                            @Html.DropDownList("Incentive", (IEnumerable<SelectListItem>)ViewBag.Incentive, new { @class = "btn btn-default dropdown-toggle" })                                            
                                        </div>

                                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Creative</label>
                                            @Html.DropDownList("Creative", (IEnumerable<SelectListItem>)ViewBag.Creative, new { @class = "btn btn-default dropdown-toggle" })
                                           
                                        </div>
                                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Phone No</label>
                                            @Html.DropDownList("PhoneNo", (IEnumerable<SelectListItem>)ViewBag.PhoneNo, new { @class = "btn btn-default dropdown-toggle" })

                                        </div>


                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Landing Page URL</label>
                                            @Html.DropDownList("LandingPage", (IEnumerable<SelectListItem>)ViewBag.Landingpage, new { @class = "btn btn-default dropdown-toggle" })                                           
                                        </div>


                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Budget $</label>
                                            <input type="text" class="form-control" id="Budget" name="Budget" placeholder="">
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Offer Code</label>
                                            <input type="text" class="form-control" id="OfferCode" name="OfferCode" placeholder="">
                                        </div>
                                        

                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Actual Cost</label>
                                            <input type="text" class="form-control" id="ActualCost" name="ActualCost" placeholder="" onkeypress="return isNumericAC(event);" onkeyup="return isKeyAC(event.keyCode);" maxlength="10">
                                            <span id="AC" style="color:red; font-size:small; "></span>
                                        </div>

                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">Planned Cost</label>
                                            <input type="text" class="form-control" id="PlannedCost" name="PlannedCost" placeholder="" onkeypress="return isNumericPC(event);" onkeyup="return isKeyPC(event.keyCode);" maxlength="10">
                                            <span id="PC" style="color:red; font-size:small; "></span>
                                        </div>


                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">State</label>
                                            @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.State, "All", new { @class = "btn btn-default dropdown-toggle", @onchange = "FillCounty()" })
                                        </div>

                                        <div class="clearfix"></div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                            <label for="">County</label>
                                            @Html.DropDownList("County", (IEnumerable<SelectListItem>)ViewBag.County, new { @class = "chosen-select-width", @multiple = "multiple", @tabindex = "16", data_placeholder = "Choose County" })

                                        </div>
                                        <div class="col-lg-12">
                                            <button class="btn btn-info pull-left" id="btnaddsubcampaign" type="button">Add Sub Campaign</button>
                                        </div>
                                       
                                        <div class="form-group col-lg-12" style="overflow: auto;">
                                            <div class="table-responsive">
                                                <table id="tblsubcamp" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th> Type </th>
                                                            <th> Channel </th>
                                                            <th> Sub Type </th>
                                                            <th> Incentive </th>
                                                            <th> Creative </th>
                                                            <th> Phone No </th>
                                                            <th> Landing Page URL </th>
                                                            <th> Budget </th>
                                                            <th> Offer Code </th>
                                                            <th> State </th>
                                                            <th> County </th>
                                                            <th> Planned Cost </th>
                                                            <th> Actual Cost </th>
                                                            <th> Action </th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button class="btn btn-info pull-right" type="submit" style="display:none;" name="finalsubmit" id="finalsubmit">Save</button>                                    
                                    <button class="btn btn-info pull-right" type="button" id="nxtbtn">Next</button>
                                    <button class="btn btn-info pull-left" type="button" id="backbtn" style="display:none;">Back</button>
                                </div>
                            </form>
                        </div>

                    @*}onchange = "'/Home/ddlCreateCampaign?id=' + this.options[this.selectedIndex].value;"*@
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->               
                 
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <!-- responsive -->                   

                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<div id="FromDateRestriction" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            Start Date Should be Lesser than or Equal to End Date.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<div id="ToDateRestriction" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            End Date Should be Greater than or Equal to Start Date.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<!-- END CONTAINER --> 
<script>
    function FillChannel() {
    var txt = $('#parent :selected').text()
    $.ajax({
        type: "GET",
        url: "../home/DDLChannel",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: { name: txt },
        success: function (data) {
            var markup = "<option value='0'>Select</option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].ID + ">" + data[x].Name + "</option>";
            }
            $("#Channel").html(markup).show();
        }
    });
}

    function FillSubType() {
        var txt = $('#Channel :selected').text()
    $.ajax({
        type: "GET",
        url: "../home/DDLSubType",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        data: { name: txt },
        success: function (data) {
            var markup = "<option value='0'>Select</option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].ID + ">" + data[x].Name + "</option>";
            }
            $("#subtype").html(markup).show();
        }
    });
    }

    function FillCounty() {
        var txt = $('#State :selected').text()
        $.ajax({
            type: "GET",
            url: '@Url.Action("DDLCounty","Home")',
            //url: "../home/DDLCounty",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { name: txt },
            success: function (data) {
                var markup = '';
                for (var x = 0; x < data.length; x++) {
                    markup += '<option value="' + data[x].Name + '">' + data[x].Name + '</option>';
                }

                $("#County").html(markup);
                $("#County").trigger("chosen:updated");

            }
        });
    }

    $('#Sdate').on('click', function () {
        $(this).datepicker('show').on('change', function () {
            var enddate = new Date($("#Edate").val());
            var sdate = new Date($("#Sdate").val());
            if (enddate < sdate) {
                $('.datepicker').hide();
                $('#FromDateRestriction').modal({
                    show: 'True'
                });
                $("#Sdate").val('');
            }
            else {
                $('.datepicker').hide();
            }
        });
    });

    $('#Edate').on('click', function () {
        $(this).datepicker('show').on('change', function () {
            var enddate = new Date($("#Edate").val());
            var sdate = new Date($("#Sdate").val());
            if (enddate < sdate) {
                $('.datepicker').hide();
                $('#ToDateRestriction').modal({
                    show: 'True'
                });
                $("#Edate").val('');
            }
            else {
                $('.datepicker').hide();
            }
        });
    });


</script>


<script>
            function isKeyPC(keyCode) {
                // if (keyCode == 16)
                // isShift = true;
                var ids=document.getElementById('PlannedCost');
                var valu = ids.value;

                    if (valu.indexOf('.')!=-1)
                    {
                        //var cn = valu.indexOf('.').count;
                        var matchesCount = valu.split('.').length - 1;
                        if (matchesCount > 1) {
                            var check = valu.substr(0, valu.length - 1);
                            $("#PlannedCost").val(check);
                            $("#PC").text("Enter only a Single Decimal Point");
                            return;
                        }
                        else
                        {
                            var matches = valu.split('.');
                            if (matches[1].length > 2)
                            {
                                var check = valu.substr(0, valu.length - 1);
                                $("#PlannedCost").val(check);
                            }
                            $("#PC").text("");
                        }
                    }
                    //if (valu > 0) {
                    //    $("#PC").text("");
                    //}
                    //else {
                    //    $("#PC").text("Enter a Value Greater than zero");
                    //}

            }

            function isKeyAC(keyCode) {
                // if (keyCode == 16)
                // isShift = true;
                var ids = document.getElementById('ActualCost');
                var valu = ids.value;

                if (valu.indexOf('.') != -1) {
                    //var cn = valu.indexOf('.').count;
                    var matchesCount = valu.split('.').length - 1;
                    if (matchesCount > 1) {
                        var check = valu.substr(0, valu.length - 1);
                        $("#ActualCost").val(check);
                        $("#AC").text("Enter only a Single Decimal Point");
                        return;
                    }
                    else {
                        var matches = valu.split('.');
                        if (matches[1].length > 2) {
                            var check = valu.substr(0, valu.length - 1);
                            $("#ActualCost").val(check);
                        }
                        $("#AC").text("");
                    }
                }
                //if (valu > 0) {
                //    $("#AC").text("");
                //}
                //else {
                //    $("#AC").text("Enter a Value Greater than zero");
                //}

            }


            function isNumericPC(evt) {
                // if (keyCode == 16)
                // isShift = true;
                var ids = document.getElementById("PlannedCost");
                var valu = ids.value;

                var event = evt || window.event;
                var isFirefox = typeof InstallTrigger !== 'undefined';
                if (!isFirefox)
                    var res = (((event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode == 8) || (event.keyCode == 46))
                else
                    var res = (((event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8) || (event.charCode == 46))

                if (!res) {
                    $("#PC").text("Enter Numbers and Decimal only");
                }
                else {

                    $("#PC").text("");
                }

                return res;
            }
            function isNumericAC(evt) {
                // if (keyCode == 16)
                // isShift = true;
                var ids = document.getElementById("ActualCost");
                var valu = ids.value;

                var event = evt || window.event;
                var isFirefox = typeof InstallTrigger !== 'undefined';
                if (!isFirefox)
                    var res = (((event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode == 8) || (event.keyCode == 46))
                else
                    var res = (((event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8) || (event.charCode == 46))

                if (!res) {
                    $("#AC").text("Enter Numbers and Decimal only");
                }
                else {

                    $("#AC").text("");
                }

                return res;
            }
</script>
