﻿@using System.Web.UI.WebControls
@using Campaign.Controllers
@model Campaign.Models.campaigndata
@{
    ViewBag.Title = "EDITCAMPAIGNDATA";
    Layout = "~/Views/Shared/Main.cshtml";
}

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    @Html.Partial("sidebarpartial")
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body"> Widget settings form goes here </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">Edit</h3>
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet">
    <div class="portlet-title">
        <div class="caption"> <i class="fa fa-reorder"></i> Edit Campaign </div>
    </div>
    @using (Html.BeginForm("EDITCAMPAIGNDATA", "Home", FormMethod.Post))
    {
        @Html.TextBoxFor(a => a.campfields.CampaignID, new { style = "display:none", Name = "CampaignID" })
        <div class="portlet-body form create-form">
            <form role="form">
                <div class="form-body">
                    <div id="first_form">
                        <div class="form-group col-xs-12 col-sm-6 col-md-12 col-lg-10">
                            <label for="">Campaign Name</label>
                            @Html.TextBoxFor(a => a.campfields.CampaignName, new { @class = "form-control", required = "required", id = "Name" })
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Start Date</label>
                            <div data-date-viewmode="years" data-date-format="mm/dd/yyyy" class="input-group date date-picker">
                                @Html.TextBoxFor(a => a.campfields.StartDate, new { @class = "form-control", required = "required", Name = "Sdate", id = "Sdate" })
                                @*<input type="text" id="Sdate" name="Sdate" required class="form-control">*@
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">End Date</label>
                            <div data-date-viewmode="years" data-date-format="mm/dd/yyyy" class="input-group date date-picker">
                                @Html.TextBoxFor(a => a.campfields.EndDate, new { @class = "form-control", required = "required", Name = "Edate", id = "Edate" })
                                @*<input type="text" id="Edate" name="Edate" required class="form-control">*@
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Planned Budget $</label>
                            @Html.TextBoxFor(a => a.campfields.PlannedBudget, new { @class = "form-control", Name = "PlannedBudget" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    @*<div id="second_form" style="display:none;">
                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Type</label>
                            @Html.DropDownList("parent", (IEnumerable<SelectListItem>)ViewBag.parentType, new { @class = "btn btn-default dropdown-toggle" })

                        </div>
                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Channel</label>
                            @Html.DropDownList("Channel", (IEnumerable<SelectListItem>)ViewBag.channel, new { @class = "btn btn-default dropdown-toggle" })
                        </div>

                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Sub Type</label>
                            @Html.DropDownList("subtype", (IEnumerable<SelectListItem>)ViewBag.subtype, new { @class = "btn btn-default dropdown-toggle" })

                        </div>

                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Incentive</label>
                            @Html.DropDownList("Incentive", (IEnumerable<SelectListItem>)ViewBag.Incentive, new { @class = "btn btn-default dropdown-toggle" })

                        </div>

                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Creative</label>
                            @Html.DropDownList("Creative", (IEnumerable<SelectListItem>)ViewBag.Creative, new { @class = "btn btn-default dropdown-toggle" })

                        </div>
                        <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Offercode</label>
                            @Html.DropDownList("Offercode", (IEnumerable<SelectListItem>)ViewBag.Offercode, new { @class = "btn btn-default dropdown-toggle" })

                        </div>


                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Landing Page URL</label>
                            @Html.DropDownList("LandingPage", (IEnumerable<SelectListItem>)ViewBag.Landingpage, new { @class = "btn btn-default dropdown-toggle" })
                        </div>


                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <label for="">Budget $</label>
                           @Html.TextBoxFor(a => a.Budget, new { @class = "form-control", Name = "Budget" })
                        </div>
                        <div class="col-lg-12">
                           <button class="btn btn-info pull-left" id="finalsubmit" type="button">Update Sub Campaign</button>*@
                @*</div>
    </div>*@
        <div id="second_form" style="display:none;">
            @using (Html.BeginForm("CreateCampaign", "Home", FormMethod.Post))
            {
                <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <label for="">Type</label>
                    @Html.DropDownList("parent", (IEnumerable<SelectListItem>)ViewBag.parentType, "Select", new { @class = "btn btn-default dropdown-toggle", @onchange = "EditFillChannel()" })
                </div>
            }
            <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Channel</label>
                @Html.DropDownList("Channel", (IEnumerable<SelectListItem>)ViewBag.channel, new { @class = "btn btn-default dropdown-toggle", @onchange = "EditFillSubType()" })
            </div>
            <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Sub Type</label>
                @Html.DropDownList("subtype", (IEnumerable<SelectListItem>)ViewBag.subtype, new { @class = "btn btn-default dropdown-toggle" })
            </div>

            <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Incentive</label>
                @Html.DropDownList("Incentive", (IEnumerable<SelectListItem>)ViewBag.Incentive, "Select", new { @class = "btn btn-default dropdown-toggle" })
            </div>

            <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Creative</label>
                @Html.DropDownList("Creative", (IEnumerable<SelectListItem>)ViewBag.Creative, "Select", new { @class = "btn btn-default dropdown-toggle" })
            </div>

            <div class="btn-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Phone No</label>
                @Html.DropDownList("PhoneNo", (IEnumerable<SelectListItem>)ViewBag.PhoneNo, "Select", new { @class = "btn btn-default dropdown-toggle" })
            </div>


            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Landing Page URL</label>
                @Html.DropDownList("LandingPage", (IEnumerable<SelectListItem>)ViewBag.Landingpage, "Select", new { @class = "btn btn-default dropdown-toggle" })
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Budget $</label>
                @Html.TextBoxFor(a => a.campfields.Budget, new { @class = "form-control", Name = "Budget" })

                @*<input type="text" class="form-control" id="Budget" name="Budget" placeholder="">*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Offer Code</label>
                @Html.TextBoxFor(a => a.campfields.OfferCode, new { @class = "form-control", Name = "OfferCode" })
                @*<input type="text" class="form-control" id="OfferCode" name="OfferCode" placeholder="">*@
            </div>
            
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Actual Cost $</label>
                @Html.TextBoxFor(a => a.campfields.ActualCost, new { @class = "form-control", Name = "ActualCost", @onkeypress = "return isNumericAC(event);", @onkeyup = "return isKeyAC(event.keyCode);", @maxlength = "10" })
                <span id="AC" style="color:red; font-size:small; "></span>
                @*<input type="text" class="form-control" id="ActualCost" name="ActualCost" placeholder="">*@
            </div>

            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">Planned Cost $</label>
                @Html.TextBoxFor(a => a.campfields.PlannedCost, new { @class = "form-control", Name = "PlannedCost", @onkeypress = "return isNumericPC(event);", @onkeyup = "return isKeyPC(event.keyCode);", @maxlength = "10" })
                <span id="PC" style="color:red; font-size:small; "></span>
                @*<input type="text" class="form-control" id="PlannedCost" name="PlannedCost" placeholder="">*@
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">State</label>
                @Html.DropDownList("State", (IEnumerable<SelectListItem>)ViewBag.State, "All", new { @class = "btn btn-default dropdown-toggle", @onchange = "FillCounty()" })
            </div>
            <div class="clearfix"></div>
            <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label for="">County</label>
                @Html.DropDownList("County", (IEnumerable<SelectListItem>)ViewBag.County, new { @class = "chosen-select-width", @multiple = "multiple", @tabindex = "16", data_placeholder = "Choose County" })
            </div>
            

            <div class="col-lg-12">
                <button class="btn btn-info pull-left" id="btncreatesubcampaign" type="button">Add Sub Campaign</button>
                <button class="btn btn-info pull-right" id="btnupdatesubcampaign" type="button">Update Sub Campaign</button>
            </div>

            <div class="form-group col-lg-12" style="overflow: auto;">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered" id="tblsubcamp">
                        <thead>
                            <tr>
                                <th style="display:none; ">ID</th>
                                <th> Type </th>
                                <th> Channel </th>
                                <th> Sub Type </th>
                                <th> Incentive </th>
                                <th> Creative </th>
                                <th> Phone No </th>
                                <th> Landing Page URL </th>
                                <th> Budget </th>
                                <th>Offer Code</th>
                                <th>State</th>
                                <th>County</th>
                                <th>Planned Cost</th>
                                <th>Actual Cost</th>
                                <th> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                for (int i = 0; i < Model.list_campFields.Count; i++)
                                {

                                    var campId = Model.list_campFields[i].CampaignID;
                                    var parent = Model.list_campFields[i].ParentType;
                                    var channel = Model.list_campFields[i].Channel;
                                    var subtype = Model.list_campFields[i].SubType;
                                    var incentive = Model.list_campFields[i].Incentive;
                                    var creative = Model.list_campFields[i].Creative;
                                    var phno = Model.list_campFields[i].PhoneNo;
                                    var landpageurl = Model.list_campFields[i].LandingPageURL;
                                    var budget = Model.list_campFields[i].Budget;
                                    var offcode = Model.list_campFields[i].OfferCode;
                                    var state = Model.list_campFields[i].State;
                                    var county = Model.list_campFields[i].County;
                                    var plancost = Model.list_campFields[i].PlannedCost;
                                    var actcost = Model.list_campFields[i].ActualCost;
                                    <tr>
                                        <td style="display:none;">@campId</td>
                                        <td>@parent</td>
                                        <td>@channel</td>
                                        <td>@subtype</td>
                                        <td>@incentive</td>
                                        <td>@creative</td>
                                        <td>@phno</td>
                                        <td>@landpageurl</td>
                                        <td>@budget</td>
                                        <td>@offcode</td>
                                        <td>@state</td>
                                        <td>@county</td>
                                        <td>@plancost</td>
                                        <td>@actcost</td>
                                        <td>
                                            @*href="@Url.Action("EDITCAMPAIGNDATA", "Home", new { id = campId, val = "edit" })*@

                                            @if (campId != "0")
                                            {
                                                <a href="#" onclick="return editfill(@campId)">
                                                    <i class="fa fa-edit" title="Edit Sub Campaign" data-toggle="tooltip" style="font-size: 22px;margin-top: 2px;"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="#" id="remove" class="removeLink">Remove</a>
                                            }
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

                </div>
                                <div class="form-actions">
                                    <button class="btn btn-info pull-right" type="submit" style="display:none;" name="finalupdate" id="finalupdate">Save</button>
                                    <button class="btn btn-info pull-right" type="button" id="nxtbtn">Next</button>
                                    <button class="btn btn-info pull-left" type="button" id="backbtn" style="display:none;">Back</button>
                                </div>
                                @*</div>
                                <div class="form-actions">
                                    <button class="btn btn-info pull-right" type="submit" style="display:none;" name="finalupdatesubmit" id="finalupdatesubmit">Update</button>
                                    <button class="btn btn-info pull-right" type="button" id="nxtbtn">Next</button>
                                    <button class="btn btn-info pull-left" type="button" id="backbtn" style="display:none;">Back</button>
                                </div>*@
                            </form>
                        </div>
                       }
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                   @if (TempData["Success"] != null)
                   {
                    <div style="color:green;font-size:16px">
                        <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
                    </div>
                   }
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<script>
    //$("#finalupdatesubmit").click(function () {

    //});
//function updatedata() {
//    //  e.preventDefault();
    
//    var Name = $('#Name').val();
//    var Sdate = $('#Sdate').val();
//    var Edate = $('#Edate').val();
//    var PlannedBudget = $('#PlannedBudget').val();
//    var CampaignID = $('#CampaignID').val();

//    var parent = $('#parent :selected').text(); var Channel = $('#Channel :selected').text(); var subtype = $('#subtype :selected').text();
//    var Incentive = $('#Incentive :selected').text(); var Creative = $('#Creative :selected').text(); var Offercode = $('#Offercode :selected').text();
//    var Landing_Page = $('#LandingPage :selected').text(); var Budget = $('#Budget').val();

//    var CamupdateValues = Name + "|" + Sdate + "|" + Edate + "|" + PlannedBudget + "|" + parent + "|" + Channel + "|" + subtype + "|" + Incentive + "|" + Creative + "|" +
//                          Offercode + "|" + Landing_Page + "|" + Budget + "|" + CampaignID;
//    $.ajax({

//        type: "GET",
//        url: "/Home/UPDATEEDITCAMPAIGNDATA",
//        contentType: "application/json; charset=utf-8",
//        dataType: "json",
//        data: { id2: CamupdateValues },
//        success: function (data) {          
//            sweetAlert("Updated Successfuly");
//        },
//        error: function (xhr, status, error) {
//            alert(xhr.responseText);
//        }
//    });
    
//    setTimeout(function () {
//        window.location.reload();
//    }, 1500);
    //}

</script>


<script>
            function isKeyPC(keyCode) {
                // if (keyCode == 16)
                // isShift = true;
                var ids = document.getElementById('campfields_PlannedCost');
                var valu = ids.value;

                    if (valu.indexOf('.')!=-1)
                    {
                        //var cn = valu.indexOf('.').count;
                        var matchesCount = valu.split('.').length - 1;
                        if (matchesCount > 1) {
                            var check = valu.substr(0, valu.length - 1);
                            $("#campfields_PlannedCost").val(check);
                            $("#PC").text("Enter only a Single Decimal Point");
                            return;
                        }
                        else
                        {
                            var matches = valu.split('.');
                            if (matches[1].length > 2)
                            {
                                var check = valu.substr(0, valu.length - 1);
                                $("#campfields_PlannedCost").val(check);
                            }
                            $("#PC").text("");
                        }
                    }
                    //if (valu > 0) {
                    //    $("#PC").text("");
                    //}
                    //else {
                    //    $("#PC").text("Enter a Value Greater than zero");
                    //}

            }

            function isKeyAC(keyCode) {
                // if (keyCode == 16)
                // isShift = true;
                var ids = document.getElementById('campfields_ActualCost');
                var valu = ids.value;

                if (valu.indexOf('.') != -1) {
                    //var cn = valu.indexOf('.').count;
                    var matchesCount = valu.split('.').length - 1;
                    if (matchesCount > 1) {
                        var check = valu.substr(0, valu.length - 1);
                        $("#campfields_ActualCost").val(check);
                        $("#AC").text("Enter only a Single Decimal Point");
                        return;
                    }
                    else {
                        var matches = valu.split('.');
                        if (matches[1].length > 2) {
                            var check = valu.substr(0, valu.length - 1);
                            $("#campfields_ActualCost").val(check);
                        }
                        $("#AC").text("");
                    }
                }
                //if (valu > 0) {
                //    $("#AC").text("");
                //}
                //else {
                //    $("#AC").text("Enter a Value Greater than zero");
                //}

            }
            function FillCounty() {
                var txt = $('#State :selected').text()
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("DDLCounty","Home")',
                    //url: "../home/DDLCounty",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { name: txt },
                    success: function (data) {
                        var markup = '';
                        for (var x = 0; x < data.length; x++) {
                            markup += '<option value="' + data[x].Name + '">' + data[x].Name + '</option>';
                        }

                    //    $("#County").multiselect('destroy');
                        $("#County").html(markup);
                        $("#County").trigger("chosen:updated");
                      //  $('#County').multiselect();
                        //$('#County').multiselect({
                        //    maxHeight: 250,
                        //    buttonWidth: '412px'
                        //});
                    }
                });
            }

            function isNumericPC(evt) {
                // if (keyCode == 16)
                // isShift = true;
                var ids = document.getElementById("campfields_PlannedCost");
                var valu = ids.value;

                var event = evt || window.event;
                var isFirefox = typeof InstallTrigger !== 'undefined';
                if (!isFirefox)
                    var res = (((event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode == 8) || (event.keyCode == 46))
                else
                    var res = (((event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8) || (event.charCode == 46))

                if (!res) {
                    $("#PC").text("Enter Numbers and Decimal only");
                }
                else {

                    $("#PC").text("");
                }

                return res;
            }
            function isNumericAC(evt) {
                // if (keyCode == 16)
                // isShift = true;
                var ids = document.getElementById("campfields_ActualCost");
                var valu = ids.value;

                var event = evt || window.event;
                var isFirefox = typeof InstallTrigger !== 'undefined';
                if (!isFirefox)
                    var res = (((event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode == 8) || (event.keyCode == 46))
                else
                    var res = (((event.charCode >= 48 && event.charCode <= 57) || event.keyCode == 8) || (event.charCode == 46))

                if (!res) {
                    $("#AC").text("Enter Numbers and Decimal only");
                }
                else {

                    $("#AC").text("");
                }

                return res;
            }
</script>
