﻿@{
    ViewBag.Title = "Hierarchy";
    Layout = "~/Views/Shared/Main.cshtml";
}

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    @Html.Partial("sidebarpartial")
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body"> Widget settings form goes here </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			  <div id="DeletePopuptreenode" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel2"></h4>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btndeletefromconfirm" class="btn btn-success">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
            <h3 class="page-title">Campaign Hierarchy</h3>
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div id="Foo">
                        <h3 class="page-title-orange">Campaign Structure<button id="btncreatetree" type="button" class="btn btn-success pull-right">Save</button></h3>
                        <div class="add-button"><a href="#responsive" data-toggle="modal"><i class="fa fa-plus"></i></a></div>
                        <div id="tree_3" style="Margin-top:0px;margin-left:-6px"  class="tree-demo">
                           
                        </div>
                        
                    </div>
                    <div id="display_text_here2"></div>
                    @*<button id="btncreatetree" type="button"  class="btn btn-success">Save</button>*@

                    <div id="responsive" class="modal fade" tabindex="-1" data-width="760">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">ADD</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6">
                                    <h4> Parent Type</h4>
                                    <p>
                                        <input class="form-control" id="txtparentdata" type="text">
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                            <button id="btnrootparentsubmit" data-dismiss="modal" type="button" class="btn btn-info">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div><!-- END CONTAINER -->
@*<script src="~/Scripts/jquery.min.js"></script>
    <script src="~/assets/plugins/jstree/dist/jstree.min.js"></script>*@
@*<script src="~/assets/scripts/ui-tree.js"></script>*@

@*<script>
    setTimeout(function () {
        $.ajax({
            type: "POST",
            //url: "../home/LoadTypes",
            url: '@Url.Action("LoadTypes", "Home")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                barjsonArray = JSON.parse(JSON.stringify(data));               
                UITree.init();
                $('#tree_3').jstree('open_all');
            }, error: function (xhr, status, error) {
               alert(xhr.responseText);
            }

        });

    }, 1500);
</script>*@

