﻿@model Campaign.Models.campaigndata
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/Main.cshtml";
}

<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    @Html.Partial("sidebarpartial")
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height:561px">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body"> Widget settings form goes here </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title"> Dashboard</h3>
            <!-- END PAGE HEADER-->
            <!-- BEGIN OVERVIEW STATISTIC BARS-->
            @Html.Partial("topcountpartial")
            <!-- END OVERVIEW STATISTIC BARS-->
            <div class="clearfix"> </div>
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"> <i class="icon-pie-chart"></i>Campaign Response </div>

                            <div class="tools"> <a href="" class="collapse"></a> <a href="" class="remove"></a> </div>

                        </div>
                        <div class="portlet-body">
                            <div id="chartdiv" >

                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"> <i class="icon-bell"></i>Campaign Notifications </div>
                            <div class="tools"> <a href="" class="collapse"></a> <a href="" class="remove"></a> </div>
                        </div>
                        <div class="portlet-body">
                            <!--BEGIN TABS-->
                            <ul class="nav nav-tabs">
                                <li class="active"> <a href="#tab_1_1" data-toggle="tab">Current</a> </li>
                                <li> <a href="#tab_1_2" data-toggle="tab">Upcoming</a> </li>
                                <li> <a href="#tab_1_3" data-toggle="tab">Completed</a> </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1_1">
                                        <div class="scroller" style="overflow: hidden; width: auto; height:350px;" data-always-visible="1" data-rail-visible="0">
                                            <ul class="feeds">
                                                @{


                                                    for (int i = 0; i < Model.filterdata.Tables[0].Rows.Count; i++)
                                                    {
                                                        var CampaignID = Model.filterdata.Tables[0].Rows[i]["CampaignID"].ToString();
                                                        var CampaignName = Model.filterdata.Tables[0].Rows[i]["CampaignName"].ToString();
                                                        var StartDate = Model.filterdata.Tables[0].Rows[i]["StartDate"].ToString();
                                                        var EndDate = Model.filterdata.Tables[0].Rows[i]["EndDate"].ToString();
                                                        var sParentType = Model.filterdata.Tables[0].Rows[i]["ParentType"].ToString();
                                                        //var sType = Model.filterdata.Tables[0].Rows[i]["Type"].ToString();
                                                        var sChannel = Model.filterdata.Tables[0].Rows[i]["Channel"].ToString();

                                                        <li>
                                                            <div class="col1">
                                                                <div class="cont">
                                                                    <div class="cont-col1">
                                                                        <div class="label label-sm label-success"> <i class="fa fa-bell"></i> </div>
                                                                    </div>
                                                                    <div class="cont-col2">
                                                                        <div class="desc"> @CampaignName / @sParentType / @sChannel</div>
                                                                        <div class="date">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start Date : @StartDate &nbsp;&nbsp;&nbsp; End Date : @EndDate</div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                            <div class="col2">
                                                                <div class="date"> Going... </div>
                                                            </div>
                                                        </li>

                                                    }
                                                }
                                            </ul>
                                        </div>
                                    
                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height:350px;">
                                        <div class="scroller" style="overflow: hidden; width: auto; height: 350px;" data-always-visible="1" data-rail-visible1="0">
                                            <ul class="feeds">

                                                @{

                                                    for (int i = 0; i < Model.futuredata.Tables[0].Rows.Count; i++)
                                                    {
                                                        var CampaignID_F = Model.futuredata.Tables[0].Rows[i]["CampaignID"].ToString();
                                                        var CampaignName_F = Model.futuredata.Tables[0].Rows[i]["CampaignName"].ToString();
                                                        var StartDate_F = Model.futuredata.Tables[0].Rows[i]["StartDate"].ToString();
                                                        var sParentType_F = Model.futuredata.Tables[0].Rows[i]["ParentType"].ToString();
                                                        //var sType_F = Model.futuredata.Tables[0].Rows[i]["Type"].ToString();
                                                        var sChannel_F = Model.futuredata.Tables[0].Rows[i]["Channel"].ToString();

                                                        <li>
                                                            <a href="#">
                                                                <div class="col1">
                                                                    <div class="cont">
                                                                        <div class="cont-col1">
                                                                            <div class="label label-sm label-info"> <i class="fa fa-bullhorn"></i> </div>
                                                                        </div>
                                                                        <div class="cont-col2">
                                                                            <div class="desc"> @CampaignName_F / @sParentType_F / @sChannel_F</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col2">
                                                                    <div class="date"> Starts On @StartDate_F </div>
                                                                </div>
                                                            </a>
                                                        </li>

                                                    }
                                                }
                                            </ul>
                                        </div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; border-radius: 7px; z-index: 99; right: 1px; display: block; background: rgb(161, 178, 189);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1_3">

                                    <div class="scroller" style="overflow: hidden; width: auto; height:350px;" data-always-visible="1" data-rail-visible="0">
                                        <ul class="feeds">
                                            @{

                                                for (int i = 0; i < Model.completeddata.Tables[0].Rows.Count; i++)
                                                {
                                                    var CampaignID_C = Model.completeddata.Tables[0].Rows[i]["CampaignID"].ToString();
                                                    var CampaignName_C = Model.completeddata.Tables[0].Rows[i]["CampaignName"].ToString();
                                                    var EndDate_C = Model.completeddata.Tables[0].Rows[i]["EndDate"].ToString();
                                                    var StartDate_C = Model.completeddata.Tables[0].Rows[i]["StartDate"].ToString();
                                                    <li>
                                                       
                                                            <div class="cont">
                                                                <div class="cont-col1 user-info">
                                                                    <img alt="" src="../assets/img/avatar.png" class="img-responsive">
                                                                    @*<div class="label label-sm label-success"> <i class="fa fa-bell"></i> </div>*@
                                                                    <div class="cont-col2">
                                                                        <div> <a href="#"> @CampaignName_C </a> &nbsp; <span class="label label-sm label-success label-sm"> Completed </span> </div>
                                                                        <div>Start Date : @StartDate_C &nbsp;&nbsp;&nbsp; End Date : @EndDate_C </div>
                                                                    </div>
                                                                </div>
                                                            </div>                                                     
                                                                                                               
                                                    </li>

                                                    @*<div class="row">
                                                        <div class="col-md-6 user-info">
                                                            <img alt="" src="assets/img/avatar.png" class="img-responsive">
                                                            <div class="details">
                                                                <div> <a href="#"> @CampaignName_C </a> &nbsp; <span class="label label-sm label-success label-sm"> Completed </span> </div>
                                                                <div> @EndDate_C </div>
                                                            </div>
                                                        </div>

                                                    </div>*@
                                                }
                                            }
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            <!--END TABS-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"> </div>

            <div class="row ">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"> <i class="icon-bar-chart"></i> Campaign Performance </div>

                            <div class="tools"> <a href="" class="collapse"></a> <a href="" class="remove"></a> </div>

                        </div>
                        <div class="portlet-body">
                            <div id="Monthbarchart">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="portlet tasks-widget">
                        <div class="portlet-title">
                            <div class="caption"> <i class="fa fa-check"></i>Top 5 Campaign - Lead Summary </div>
                            <div class="tools"> <a href="" class="collapse"></a> <a href="" class="remove"></a> </div>

                        </div>
                        <div class="portlet-body">
                            <div id="barchartleadcount">

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix"> </div>

            <div class="row ">
                
                <div class="col-md-12 col-sm-12">
                    <div class="portlet tasks-widget">
                        <div class="portlet-title">
                            <div class="caption"> <i class="fa fa-check"></i>Channels - Lead Summary </div>
                            <div class="tools"> <a href="" class="collapse"></a> <a href="" class="remove"></a> </div>

                        </div>
                        <div class="portlet-body">
                            <div id="barchartChannelleadcount">

                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- BEGIN OVERVIEW STATISTIC BLOCKS-->
        </div>

    </div>
    <!-- END CONTENT -->
</div>

