﻿@model Campaign.Models.campaigndata
@{
    ViewBag.Title = "SpecificCampaignDetails";
    Layout = "~/Views/Shared/Main.cshtml";
}
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    @Html.Partial("sidebarpartial")
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body"> Widget settings form goes here </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN STYLE CUSTOMIZER -->
            <!-- END BEGIN STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">Reports</h3>
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"> <i class="fa fa-edit"></i>Campaign Details</div>
                        </div>
                       <div style="height:10px">&nbsp;</div>
                            @using (Html.BeginForm("SpecificCampaignDetails", "Home", FormMethod.Post))
                            {
                                <div class="form-body" style="margin-left:15%">
                                    <div class="form-group col-lg-4">
                                        <input type="text" id="Sdate" name="Sdate" placeholder="Start Date" required class="form-control" readonly>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <input type="text" id="Edate" name="Edate" placeholder="End Date" required class="form-control" readonly>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <div>
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <div style="float:right">@Html.ActionLink(" Excel Export ", "ExportData",new { st = @ViewBag.start ,ed = @ViewBag.start }, new { @class = "btn btn-info" })</div>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            }
                        
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                @*<div>
                                    <span class="input-group-btn">
                                        <button id="btnExport" type="submit" class="btn btn-info">Export Table data into Excel</button>
                                    </span>
                                </div>*@                                

                            </div>
                            <div id="dvData" >
                                <table class="table table-striped table-hover table-bordered report-bg" id="sample_editable_1">
                                    <thead>
                                        <tr>
                                            <td class="tableheader"> Campaign Name</td>                                           
                                            <td class="tableheader"> Parent Type</td>                                           
                                            <td class="tableheader"> Sub Type</td>
                                            <td class="tableheader"> Creative</td>                                            
                                            <td class="tableheader"> Incentive &nbsp;&nbsp;</td>
                                            <td class="tableheader"> OfferCode &nbsp;&nbsp;</td>
                                            <td class="tableheader"> Landing Page &nbsp;&nbsp;</td>
                                            <td class="tableheader"> Start Date &nbsp;&nbsp;</td>
                                            <td class="tableheader"> End Date &nbsp;&nbsp;</td>                                            
                                            <td class="tableheader"> Planned Budget&nbsp;&nbsp;</td>
                                            <td class="tableheader"> Budget &nbsp;&nbsp;</td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            for (int i = 0; i < Model.filterdata.Tables[0].Rows.Count; i++)
                                            {
                                                var CampaignID = Model.filterdata.Tables[0].Rows[i]["CampaignID"].ToString();
                                                var CampaignName = Model.filterdata.Tables[0].Rows[i]["CampaignName"].ToString();
                                                //var Status = Model.filterdata.Tables[0].Rows[i]["Status"].ToString();
                                                var ParentType = Model.filterdata.Tables[0].Rows[i]["ParentType"].ToString();
                                                //var Type = Model.filterdata.Tables[0].Rows[i]["Type"].ToString();
                                                var SubType = Model.filterdata.Tables[0].Rows[i]["SubType"].ToString();
                                                var Creative = Model.filterdata.Tables[0].Rows[i]["Creative"].ToString();
                                                var OfferCode = Model.filterdata.Tables[0].Rows[i]["OfferCode"].ToString();
                                                var Incentive = Model.filterdata.Tables[0].Rows[i]["Incentive"].ToString();
                                                var StartDate = Model.filterdata.Tables[0].Rows[i]["StartDate"].ToString();
                                                var EndDate = Model.filterdata.Tables[0].Rows[i]["EndDate"].ToString();
                                                var LandingPage = Model.filterdata.Tables[0].Rows[i]["LandingPageURL"].ToString();
                                                var PlannedBudget = Model.filterdata.Tables[0].Rows[i]["PlannedBudget"].ToString();
                                                var Budget = Model.filterdata.Tables[0].Rows[i]["Budget"].ToString();

                                        <tr>
                                            <td> @CampaignName </td>                                            
                                            <td> @ParentType </td>                                            
                                            <td> @SubType </td>
                                            <td> @Creative </td>                                            
                                            <td> @Incentive </td>
                                            <td> @OfferCode </td>
                                            <td> @LandingPage </td>
                                            <td> @StartDate </td>
                                            <td> @EndDate </td>                                            
                                            <td> @PlannedBudget </td>
                                            <td> @Budget </td>

                                        </tr>
                                        }

                                        }
                                    </tbody>
                                </table>
                                </div>
                            </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<div id="FromDateRestriction" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            Start Date Should be Lesser than or Equal to End Date.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<div id="ToDateRestriction" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2"></h4>
        </div>
        <div class="modal-body">
            End Date Should be Greater than or Equal to Start Date.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        </div>
    </div>
</div>

<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
		$("#btnExport").click(function(e) {
		    window.open('data:application/vnd.ms-excel,' + $('#sample_editable_1').html());
			e.preventDefault();
		});

		$('#Sdate').on('click', function () {
		    $(this).datepicker('show').on('change', function () {
		        var enddate = new Date($("#Edate").val());
		        var sdate = new Date($("#Sdate").val());
		        if (enddate < sdate) {
		            $('.datepicker').hide();
		            $('#FromDateRestriction').modal({
		                show: 'True'
		            });
		            $("#Sdate").val('');
		        }
		        else {
		            $('.datepicker').hide();
		        }
		    });
		});

		$('#Edate').on('click', function () {
		    $(this).datepicker('show').on('change', function () {
		        var enddate = new Date($("#Edate").val());
		        var sdate = new Date($("#Sdate").val());
		        if (enddate < sdate) {
		            $('.datepicker').hide();
		            $('#ToDateRestriction').modal({
		                show: 'True'
		            });
		            $("#Edate").val('');
		        }
		        else {
		            $('.datepicker').hide();
		        }
		    });
		});

</script>



