/***
Responsive Theme. 
Based on http://getbootstrap.com/css/#responsive-utilities-classes
***/

/***
Form Medium Devices Up To Large Devices
***/

@media (min-width: 992px) and (max-width: 1200px) {
.page-boxed .header .dropdown .username {
	display: none;
}
}

/***
From Medium Devices Up To Larger Devices
***/

@media (min-width: 992px) {
/***
 	Page sidebar
 	***/
.page-sidebar {
	width: 215px;
	float: left;
	position: relative;
	margin-right: -100%;
}
.page-sidebar.navbar-collapse {
	max-height: none !important;
}
/***
  	Page content
  	***/
.page-content-wrapper {
	float: left;
	width: 100%;
}
.page-content {
	margin-left: 215px;
	margin-top: 0px;
	min-height: 760px;
	padding: 25px 20px 20px 20px;
}
.page-content.no-min-height {
	min-height: auto;
}
/***
	Footer
	***/
.footer {
	clear: left;
}
/***
  	Sidebar Menu
  	***/

.page-sidebar-menu .search-form {
	display: none;
}
.page-sidebar.navbar-collapse {
	max-height: none !important;
}
/***
  	Fixed Sidebar
  	***/

.page-sidebar-fixed .page-sidebar {
	position: fixed !important;
	top: 45px;
}
.page-sidebar-fixed ul.page-sidebar-menu > li.last {
	margin-bottom: 15px !important;
}
.page-sidebar-fixed.page-sidebar-hover-on .page-sidebar {
	z-index: 10000;
	width: 40px;
}
.page-sidebar-fixed.page-sidebar-hover-on .page-sidebar .selected {
	display: none;
}
.page-sidebar-fixed.page-sidebar-hover-on .page-content {
	margin-left: 40px;
}
.page-sidebar-fixed.page-sidebar-hover-on .footer {
	margin-left: 40px;
}
.page-sidebar-fixed .page-sidebar-closed .page-sidebar .sidebar-search .submit,  .page-sidebar-fixed .page-sidebar .sidebar-toggler {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.page-sidebar-hovering {
	overflow: hidden !important;
}
.page-sidebar-hovering .sub-menu,  .page-sidebar-hovering span.title,  .page-sidebar-hovering span.arrow {
	display: none !important;
}
.page-sidebar-hovering .submit {
	opacity: 0;
	width: 0 !important;
	height: 0 !important;
}
/***
  	Page content
  	***/
.page-content {
	margin-left: 215px;
	margin-top: 0px;
	min-height: 760px;
	padding: 25px 20px 20px 20px;
}
.page-sidebar-fixed .page-content {
	min-height: 600px;
	border-radius: 0;
}
.page-content.no-min-height {
	min-height: auto;
}
/***
	Footer
	***/

	/* fixed sidebar */
.page-footer-fixed .footer {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10000;
	bottom: 0;
}
.page-footer-fixed .page-container {
	margin-bottom: 32px;
}
.page-footer-fixed.page-sidebar-fixed .footer {
	margin-left: 0 !important;
}
/* end: fixed footer */

.page-boxed .footer {
	padding: 8px 0 5px 0;
}
.page-sidebar-fixed .footer {
	margin-left: 215px;
	background-color: #FaFaFa;
	padding: 8px 20px 5px 20px;
}
.page-sidebar-fixed .footer .footer-inner {
	color: #333;
}
.page-sidebar-fixed.page-sidebar-closed .footer {
	margin-left: 40px;
}
.page-sidebar-fixed .footer .footer-tools .go-top {
	background-color: #666;
}
.page-sidebar-fixed .footer .footer-tools .go-top i {
	color: #ddd;
}
/***
	Boxed Layout 
	***/

.page-boxed .header .page-logo {
	margin-left: 0px !important;
	padding-left: 10px;
	width: 226px;
}
.page-boxed .header .navbar-nav {
	margin-right: 0px;
}
.page-boxed .page-container {
	border-radius: 0 0 4px 4px;
}
.page-boxed .page-content {
	border-radius: 0 0 4px 0;
}
.page-boxed.page-sidebar-fixed .page-content,  .page-boxed.page-sidebar-fixed .page-container {
	border-radius: 0;
}
/***
	Sidebar Reversed
	***/

.page-sidebar-reversed .page-sidebar {
	float: right;
	margin-right: 0;
	margin-left: -100%;
}
.page-sidebar-reversed.page-sidebar-fixed .page-sidebar {
	margin-left: -215px;
}
.page-sidebar-reversed .page-content {
	margin-left: 0;
	margin-right: 215px;
}
.page-sidebar-reversed.page-sidebar-fixed .page-sidebar-wrapper {
	position: relative;
	float: right;
}
.page-sidebar-reversed.page-sidebar-fixed .footer {
	margin-left: 0;
	margin-right: 215px;
	padding: 8px 20px 5px 20px;
}
.page-sidebar-reversed.page-sidebar-fixed.page-footer-fixed .footer {
	margin-left: 0;
	margin-right: 0;
}
.page-sidebar-reversed.page-sidebar-fixed.page-sidebar-hover-on .page-content {
	margin-left: 0;
	margin-right: 40px;
}
.page-sidebar-reversed.page-sidebar-fixed.page-sidebar-hover-on .footer {
	margin-right: 40px;
}
/***
	Sidebar Closed
	***/

.page-sidebar-closed .page-sidebar-menu > li > a > .title,  .page-sidebar-closed .page-sidebar-menu > li > a > .arrow {
	display: none !important;
}
.page-sidebar-closed .page-sidebar-menu {
	width: 40px !important;
}
.page-sidebar-closed .page-sidebar-menu > li > a {
	padding-left: 10px;
}
.page-sidebar-closed .page-sidebar-menu.page-sidebar-menu-circle-icons > li > a {
	padding-left: 8px;
}
.page-sidebar-fixed.page-sidebar-closed .page-sidebar-menu > li > a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.page-sidebar-reversed.page-sidebar-fixed.page-sidebar-closed .page-sidebar-menu > li > a {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.page-sidebar-closed .page-sidebar-menu > li:hover {
	width: 241px !important;
	position: relative !important;
	z-index: 2000;
	display: block !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .sidebar-toggler {
	float: left;
	margin-left: 17px;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .selected {
	display: none;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > a > i {
	margin-right: 10px;
}
.page-sidebar-closed .page-sidebar-menu > li:hover .title {
	display: inline !important;
}
.page-sidebar-closed .page-sidebar-menu > li > .sub-menu {
	display: none !important;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu {
	width: 200px;
	position: absolute;
	z-index: 2000;
	left: 41px;
	margin-top: 0;
	top: 100%;
	display: block !important;
	border-radius: 0 0 4px 4px;
}
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu,  .page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > .sub-menu > li > .sub-menu {
	width: 200px;
}
/* 2rd level sub menu*/
.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu > li > a {
	padding-left: 15px !important;
}
/* 3rd level sub menu*/
.page-sidebar-closed .page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > a {
	padding-left: 30px !important;
}
/* 4rd level sub menu*/
.page-sidebar-closed .page-sidebar-menu > li > ul.sub-menu > li > .sub-menu > li > .sub-menu > li > a {
	padding-left: 45px !important;
}
/* sidebar container */
	 
.page-sidebar-closed .page-sidebar {
	width: 40px;
}
.page-sidebar-closed .page-content {
	margin-left: 40px !important;
}
/*** 
	Sidebar Reversed & Sidebar Closed
	***/

.page-sidebar-reversed.page-sidebar-closed .page-sidebar {
	margin-left: -40px;
	width: 40px;
}
.page-sidebar-reversed.page-sidebar-closed .page-content {
	margin-left: 0 !important;
	margin-right: 40px !important;
}
.page-sidebar-reversed.page-sidebar-closed .page-sidebar-menu > li:hover {
	margin-left: -201px;
}
.page-sidebar-reversed.page-sidebar-closed .page-sidebar-menu > li.sidebar-toggler-wrapper:hover {
	margin-left: -17px !important;
	width: 40px !important;
}
.page-sidebar-reversed.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container {
	margin-left: -220px;
}
.page-sidebar-reversed.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .submit {
	margin: 11px 8px 9px 12px !important;
	float: left !important;
}
.page-sidebar-reversed.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove {
	margin: 12px 6px 9px 8px !important;
	float: right !important;
}
.page-sidebar-reversed.page-sidebar-closed .page-sidebar-menu > li:hover > .sub-menu {
	left: auto;
	right: 41px;
}
.page-sidebar-reversed.page-sidebar-fixed.page-sidebar-closed .footer {
	margin-right: 40px;
}
}

/***
Up To Medium Devices
***/

@media (max-width:991px) {
/***
 	Page header
 	***/
.header {
	padding: 0 20px 0 20px;
	position: relative;
	clear: both;
}
.header .navbar-toggle {
	display: inline-block;
}
.header .search-form {
	display: none;
}
.sidebar-search-menu .search-form {
	display: block;
}
.page-sidebar.navbar-collapse {
	max-height: none;/* set some max height to have a scrollable menu on mobile devices */
}
.page-sidebar.navbar-collapse.collapse {
	display: none !important;
}
.page-sidebar.navbar-collapse.in {
	border-top: 0 !important;
	position: relative;
	overflow: hidden !important;
	overflow-y: auto !important;
	display: block !important;
}
.page-sidebar.navbar-collapse,  .page-sidebar.navbar-collapse.in {
	margin: 20px;
}
.header .nav li.dropdown i {
	display: inline-block;
	position: relative;
	top: 1px;
	right: 0px;
}
.header .navbar-nav {
	display: block;
	margin-bottom: 0px !important;
}
.header .navbar-nav .open .dropdown-menu {
	position: absolute;
}
.header .navbar-nav {
	display: inline-block;
	float: right;
	margin: 0;
}
.header .navbar-nav > li {
	float: left;
}
.header .page-logo {
	margin-left: 0px !important;
	padding-left: 4px !important;
}
/***
	Page container
	***/
.page-container {
	margin: 0 !important;
	padding: 0 !important;
}
/***
  	Page content
  	***/
.page-content {
	margin: 0px !important;
	padding: 20px 20px 20px 20px !important;
	min-height: 280px;
	border-radius: 0;
}
.page-sidebar-reversed.page-boxed .page-content {
	border-radius: 0 0 4px 4px;
}
.page-boxed .page-content {
	border-radius: 0 0 4px 4px;
}
/***
	Page sidebar
	***/
.page-sidebar {
	border-top: 0 !important;
	margin: 20px;
}
.page-sidebar.in {
	border-top: 0 !important;
	margin: 20px;
	position: relative;
	z-index: 5;
}
.page-sidebar .sidebar-toggler {
	display: none;
}
.page-sidebar ul {
	margin-top: 0px;
	width: 100%;
}
.page-sidebar .selected {
	display: none !important;
}
.page-sidebar .search-form {
	display: block;
}
/***
	Styler panel
	***/
.styler-panel {
	top: 55px;
	right: 20px;
}
/***
	Boxed Layout
	***/
.page-boxed .header > .container,  .page-boxed .footer > .container,  .page-boxed > .container {
	max-width: none !important;
	margin: 0 !important;
	padding: 0 !important;
}
}

/***
From Small Devices Up To Medium Devices
***/
 
@media (min-width: 768px) and (max-width: 991px) {
/***
	Body
	***/
body {
	padding-top: 0px;
}
/***
	Page sidebar
	***/
.page-sidebar .btn-navbar.collapsed .arrow {
	display: none;
}
.page-sidebar .btn-navbar .arrow {
	position: absolute;
	right: 25px;
	width: 0;
	height: 0;
	top: 50px;
	border-bottom: 15px solid #5f646b;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
/***
	Boxed Layout
	***/
.page-boxed .footer > .container,  .page-boxed .header > .container,  .page-boxed > .container {
	margin: auto !important;
}
.page-boxed .header {
	margin: auto !important;
	padding: 0;
}
.page-boxed .footer {
	padding-left: 0;
	padding-right: 0;
}
.header .navbar-toggle {margin: 23px 6px 9px;}
}
 
/***
Extra Small Devices Only
***/

@media (max-width: 767px) {
/***
	Page header
	***/
	
.header {
	padding: 0 10px 0 10px;
}
.header .top-nav .nav {
	margin-top: 0px;
	margin-right: 5px;
}
.header .nav > li > .dropdown-menu.notification:after,  .header .nav > li > .dropdown-menu.notification:before {
	margin-right: 160px;
}
.header .nav > li > .dropdown-menu.notification {
	margin-right: -160px;
}
.header .nav > li > .dropdown-menu.inbox:after,  .header .nav > li > .dropdown-menu.inbox:before {
	margin-right: 120px;
}
.header .nav > li > .dropdown-menu.inbox {
	margin-right: -120px;
}
.header .nav > li > .dropdown-menu.tasks:after,  .header .nav > li > .dropdown-menu.tasks:before {
	margin-right: 70px;
}
.header .nav > li > .dropdown-menu.tasks {
	margin-right: -70px;
}
/* Header logo */
.header .page-logo {
	margin-left: 0px !important;
	width: 110px;
}
.page-sidebar.navbar-collapse,  .page-sidebar.navbar-collapse.in {
	margin: 10px;
}
/***
	Page content
	***/
.page-content {
	padding: 20px 10px 10px 10px !important;
	overflow: hidden;
	border-radius: 0 !important;
}
/***
	Page title
	***/
.page-title {
	margin-bottom: 20px;
	font-size: 18px;
}
.page-title small {
	font-size: 13px;
	padding-top: 3px;
}
/***
	Styler pagel
	***/
.styler-panel {
	top: 58px;
	right: 12px;
}
/***
	Page breadcrumb
	***/
.breadcrumb {
	padding-left: 10px;
	padding-right: 10px;
}
/***
	Portlet form action
	***/
.portlet-body.form .form-actions {
	padding-left: 15px;
}
/***
	Form input validation states
	***/
.input-icon .input-error,  .input-icon .input-warning,  .input-icon .input-success {
	top: -27px;
	float: right;
	right: 10px !important;
}
/***
	Advance tables
	***/
.table-advance tr td.highlight:first-child a {
	margin-left: 8px;
}
/***
	Footer	
	***/	
.footer {
	padding-left: 10px;
	padding-right: 10px;
}
.footer .go-top {
	float: right;
	display: block;
	margin-right: 0px;
}
/***
	Vertical inline menu
	***/
.ver-inline-menu li.active:after {
	display: none;
}
/***
	Form controls
	***/
.form-horizontal .form-actions {
	padding-left: 180px;
}
.portlet .form-horizontal .form-actions {
	padding-left: 190px;
}
.header .navbar-toggle {margin: 23px 6px 9px;}
}

/***
The Most Extra Small Devices Landscape Mode Only
***/

@media (max-width: 480px) {
/***
	Header navbar
	***/
.header {min-height:120px;}
.header .nav > li.dropdown .dropdown-toggle {
	padding:20px 8px !important;
}
.header .navbar-nav {
	display: block !important;
	height: 45px;
	clear: both;
}
/***
	Page sidebar
	***/
.page-sidebar.navbar-collapse,  .page-sidebar.navbar-collapse.in {
	margin: 0 10px 10px 10px;
}
/***
	Page title
	***/
.page-title small {
	display: block;
	clear: both;
}
/***
	Forms
	***/
.portlet .form-horizontal .form-actions {
	padding-left: 10px;
}
/***
	Dashboard date range panel
	***/
.page-content .breadcrumb .dashboard-date-range {
	padding-bottom: 8px;
}
.page-content .breadcrumb .dashboard-date-range span {
	display: none;
}
.page-content .breadcrumb > .btn-group span {
	display: none;
}
.page-content .breadcrumb > .btn-group > .btn {
	padding-left: 7px;
	padding-right: 7px;
}
.header .navbar-nav > li.dropdown .dropdown-toggle .username-hide-on-mobile {
	display: none;
}
.header .navbar-nav > li.devider {
	margin-left: 2px !important;
	margin-right: 2px !important;
}
/***
	Hidden phone
	***/
.hidden-480 {
	display: none !important;
}
}

/***
The Most Extra Small Devices Portrait Mode Only
***/

@media (max-width: 320px) {
.header {min-height:120px;}
.header .nav > li.dropdown .dropdown-toggle {
	padding:20px 8px !important;
}
/***
	Hidden phone
	***/
.hidden-320 {
	display: none;
}
.header .page-logo {
	width: 100px;
}
}
